<ion-list class="border-none mb0">
    <!-- <ion-item *ngFor="let item of items" (click)="itemclick()" class="f14">
      {{item.item}}
    </ion-item> -->
    <ion-item (click)="itemclick()" class="f14">
        Create Activity
    </ion-item>
    <ion-item (click)="createOrder()" class="f14">
        Create Order
    </ion-item>
    <!-- <ion-item (click)="leadCallLogs()" class="f14">
        Call Logs / Activities
    </ion-item> -->
    <ion-item (click)="itemclick()" style="color: #FF0000;" class="f14">
      Delete
    </ion-item>
  </ion-list>