<ion-list class="lead-options mb0">
  


    <!-- <ion-item  class="f14"    (click)="itemclick('')"> All  </ion-item>
    <ion-item  class="f14"    (click)="itemclick('11')"> Wholesaler  </ion-item>
	<ion-item class="f14"   (click)="itemclick('12')"  > Distributer </ion-item>
  <ion-item class="f14"   (click)="itemclick('13')"> Retailer  </ion-item>
  <ion-item class="f14"   (click)="itemclick('14')" > Mechanic  </ion-item>
  <ion-item class="f14"   (click)="itemclick('15')"> Reconditioner  </ion-item> -->



  <ion-item class="f14"   (click)="itemclick('2')"  > Created By Me  </ion-item>
  <ion-item  class="f14"    (click)="itemclick('1')"> Assigned To Me   </ion-item>
  
  




  </ion-list>
