<ion-header class="catalogue-header bg-af-none">
	<ion-navbar>
		<ion-title>All Products</ion-title>
		<!-- <ion-buttons end class="login-btn">
			<button ion-button>
				<img src="assets/icons/logout-ic.svg" alt="">
			</button>
		</ion-buttons> -->
	</ion-navbar>
</ion-header>

<ion-content>
	
	<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
		<ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles">
		</ion-refresher-content>
	</ion-refresher>
	
	<div class="filter-search">
		<ion-searchbar placeholder="Search" #input [(ngModel)]="data.search" (input)="onSearchChangeHanlder()" (ionChange)="onClearSearchHandler()"></ion-searchbar>
	</div>
	
	<div class="nothing-here" *ngIf="!isRequestInProcess && productList==0 ">
		<div class="outer">
			<div class="innear">
				<img src="assets/imgs/nothing.svg" alt="">
				<p>Nothing is here</p>
			</div>
		</div>
	</div>
	
	
	<div class="cs-header sticky-header shadow-1">
		<h2>{{productList.length}} Products found</h2>
		
		<ion-buttons end class="list-icon mr10" (click)=changeView()>
			<button ion-button>
				<img [ngClass]="{'active':g_view}" src="assets/icons/icon-list.svg" alt="">
			</button>
		</ion-buttons>
		
		
		<!-- <ion-buttons end class="filter-icon">
			<ion-fab top right edge>
				<button ion-fab mini><img src="assets/icons/icon-filter.svg" alt=""></button>
				
				<ion-fab-list>
					<div class="clcsd">
						<ul materialize="collapsible" class="collapsible" data-collapsible="accordion">
							<li class="active">
								<div class="collapsible-header">Brand</div>
								<div class="collapsible-body">
									<ion-item>
										<ion-label>Brand 1</ion-label>
										<ion-checkbox color="light"></ion-checkbox>
									</ion-item>
									<ion-item>
										<ion-label>Brand 1</ion-label>
										<ion-checkbox color="light"></ion-checkbox>
									</ion-item>
									<ion-item>
										<ion-label>Brand 1</ion-label>
										<ion-checkbox color="light"></ion-checkbox>
									</ion-item>
								</div>
							</li>
							<li>
								<div class="collapsible-header">Segment</div>
								<div class="collapsible-body">
									<ion-item>
										<ion-label>Segment 1</ion-label>
										<ion-checkbox color="light"></ion-checkbox>
									</ion-item>
									<ion-item>
										<ion-label>Segment 2</ion-label>
										<ion-checkbox color="light"></ion-checkbox>
									</ion-item>
									<ion-item>
										<ion-label>Segment 3</ion-label>
										<ion-checkbox color="light"></ion-checkbox>
									</ion-item>
									<ion-item>
										<ion-label>Segment 4</ion-label>
										<ion-checkbox color="light"></ion-checkbox>
									</ion-item>
									<ion-item>
										<ion-label>Segment 5</ion-label>
										<ion-checkbox color="light"></ion-checkbox>
									</ion-item>
									<ion-item>
										<ion-label>Segment 6</ion-label>
										<ion-checkbox color="light"></ion-checkbox>
									</ion-item>
								</div>
							</li>
							<li>
								<div class="collapsible-header">Vehicle</div>
								<div class="collapsible-body">
									<ion-item>
										<ion-label>Vehicle 1</ion-label>
										<ion-checkbox color="light"></ion-checkbox>
									</ion-item>
									<ion-item>
										<ion-label>Vehicle 2</ion-label>
										<ion-checkbox color="light"></ion-checkbox>
									</ion-item>
									<ion-item>
										<ion-label>Vehicle 3</ion-label>
										<ion-checkbox color="light"></ion-checkbox>
									</ion-item>
									<ion-item>
										<ion-label>Vehicle 4</ion-label>
										<ion-checkbox color="light"></ion-checkbox>
									</ion-item>
									<ion-item>
										<ion-label>Vehicle 5</ion-label>
										<ion-checkbox color="light"></ion-checkbox>
									</ion-item>
									<ion-item>
										<ion-label>Vehicle 6</ion-label>
										<ion-checkbox color="light"></ion-checkbox>
									</ion-item>
									<ion-item>
										<ion-label>Vehicle 7</ion-label>
										<ion-checkbox color="light"></ion-checkbox>
									</ion-item>
									<ion-item>
										<ion-label>Vehicle 8</ion-label>
										<ion-checkbox color="light"></ion-checkbox>
									</ion-item>
								</div>
							</li>
							<li>
								<div class="clear-btn">Clear</div>
							</li>
						</ul> 
					</div>
				</ion-fab-list>
			</ion-fab>
		</ion-buttons> -->
	</div>
	
	<div class="main-container" [ngClass]="{'active':g_view}" >
		<div class="figure" (click)="seeProductdetail(product.productId)" *ngFor="let product of productList">
			<div class="pcl">
				<div class="thumb">
					<div class="outer">
						
						<div class="innear" *ngIf="product.documents==0">
							<img alt="" src="assets/imgs/dumy-product.svg">
						</div>
						
						<div class="innear" *ngFor="let img of product.documents;let i=index">
							<img *ngIf="i==0"  src="{{api+img.documentId+'/'+'2'}}">
						</div>
					</div>
				</div>
				<div class="discriptions">
					<h1>{{product.productName}}</h1>
					<h2>{{product.partNumber}}</h2>
					<h3>MRP. &#8377;<span> {{product.mrp}}</span></h3>
				</div>
			</div>
		</div>
	</div>
	
</ion-content>
