// ==========================================================================
// App variables
// ==========================================================================
//
// Table of Contents:
//
// 1. Colors
// 2. font-family
// 3. Ion-Button


// 1. Colors
// ==========================================================================

$colors: (
    primary:    #008FB5,
    secondary:  #00B900,
    danger:     #f53d3d,
    light:      #f4f4f4,
    dark:       #222,
    theme:        #BC002D
  );

$theme    : #CD234B;
$light-theme :  #cd234b6e;
$catalogue-header  : linear-gradient(to right, #E14B6E, #BC002D);
$login-header  : linear-gradient(to right, #E14B6E, #BC002D);
$border-clr   :     #c9c9c9;
$light-font   :     #cccccc;
$light-bg      :     #FF7474;

$light-red : #FF7474;
$tgreen   :  #00b600;
$tred     :  #f70000;
$tyellow  :  #FFBB00;
$tblue    :  #008FB5;



// 2. font-family
// ==========================================================================


@font-face {
    font-family: 'Gotham Condensed Medium';
    src: url('../assets/font/GothamCondensed-Medium.eot');
    src: url('../assets/font/GothamCondensed-Medium.eot?#iefix') format('embedded-opentype'),
    url('../assets/font/GothamCondensed-Medium.woff2') format('woff2'),
    url('../assets/font/GothamCondensed-Medium.woff') format('woff'),
    url('../assets/font/GothamCondensed-Medium.svg#webfont') format('svg');
    font-weight: normal;
    font-style: normal; }

// $family                      :  'Open Sans', sans-serif;
$family                      : 'Montserrat', sans-serif;
$font-lightt                 :  300;
$font-regular                :  400;
$font-semibold               :  600;
$font-bold                   :  700;
$font-extrabold              :  800;

*
{
    font-family: $family;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6, p, ul, li{margin:0px !important; padding: 0px !important;}
h1, h2, h3, h4, h5, h6, p{ white-space: pre-line; color:#002341;}

.light 
{
    font-family: $family !important;
    font-weight: $font-lightt !important;
}

.regular 
{
    font-family: $family !important;
    font-weight: $font-regular !important;
}

.semibold 
{
    font-family: $family !important;
    font-weight: $font-semibold !important;
}

.bold
{
    font-family: $family !important;
    font-weight: $font-bold !important;
}

.extrabold 
{
    font-family: $family !important;
    font-weight: $font-extrabold !important;
}



// 3. Ion-Button
// ==========================================================================


button:focus
{
    background-color: transparent !important;
}



  