
<ion-header class="catalogue-header">
	<ion-navbar>
		<ion-title>Detail</ion-title>
		<ion-buttons end class="login-btn">
			<button ion-button (click)="shareproduct()">
				<img class="w23" src="assets/icons/share-w.svg" alt="">
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<div class="cs-description mb16">
		
		<h1>Product Name - {{det.productName}} </h1>
		<h2>&#8377; <span>{{det.mrp}}/-</span></h2>
		<h3>{{det.partNumber}}</h3>
	</div>
	<div class="product-slide">
		<ul>
			<li class="active">
				<div class="thumb">
					<div class="outer">
						
						<div class="innear" *ngIf="!det.documents || det.documents?.length==0">
							<img src="assets/imgs/dumy-product.svg" alt="">
						</div>
						
						<div class="innear"  *ngFor="let img of det.documents;let i=index">
							<img alt="" *ngIf="i==0"  src="{{api+img.documentId+'/'+'2'}}">
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<div class="product-thumb-slide">
		<ul>
			<li Class="active">
				<div class="icon">
					<div class="outer">
						<div class="innear">
							<img src="assets/imgs/dumy-product.svg" alt="">
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<!-- <div class="availability dflex">
		<div class="color">
			<p>Color : <span style="background: #ff1212;"></span><span style="background: #00B900;"></span><span style="background: #CD234B;"></span></p>
		</div>
		<div class="size">
			<p>Size : <strong>8 inch</strong></p>
		</div>
	</div> -->
	<div class="cs-description">
		<table>
			<tr>
				<td>
						<p>Segment</p>
						<p>{{det.segment}}</p>
					
				</td>
				<td>
						<p>Sub Segment</p>
						<p>{{det.subSegment}}</p>
					
				</td>
			</tr>
			<tr>
				<td>
					<p>Category</p>
					<p>{{det.category}}</p>
				</td>
				<td>
					<p>OEM</p>
					<p>{{det.oem}}</p>
				</td>
			</tr>
			<tr>
					<td>
						<p>Model Description 1</p>
						<p *ngIf="!det.modelCode">---</p>
						<p>{{det.modelCode}}</p>
					</td>
					<td>
						<p>Model Description 2</p>
						<p *ngIf="!det.modelDescription1">---</p>
						<p>{{det.modelDescription1}}</p>
					</td>
				</tr>
			<tr>
				<td>
					<p>Size</p>
					<p>{{det.size}}</p>
				</td>
				<td>
						<p>HSN Code</p>
						<p>{{det.hsnCode}}</p>
				</td>
			</tr>
			<tr>
					<td>
						<p>Material Type</p>
						<p>{{det.materialType}}</p>
						
					</td>
					<td>
						<p>Material Description 1</p>
						<p>{{det.materialDescription1}}</p>
					</td>
				</tr>
				<tr>
						<td>
							<p>Sales Unit</p>
							<p>{{det.salesUnit}}</p>
							
						</td>
						<td>
							<p>Price Unit</p>
							<p>{{det.priceUnit}}</p>
						</td>
					</tr>
					<tr>
							<td>
								<p>PRICE LIST</p>
								<p>{{det.listPrice| currency: 'INR':true}}</p>
								
							</td>
							<td>
								<p>MOQ</p>
								<p>{{det.moq}}</p>
							</td>
						</tr>
						<tr>
								<td>
									<p>GST</p>
									<p>{{det.gstPercentage}}</p>
									
								</td>
								<td>
									
								</td>
							</tr>
		</table>
		<br/>
		<h5>Description</h5>
		<p>{{det.desc}}</p>
	</div>
	
</ion-content>
<!-- <ion-footer padding>
	<div class="cs-btn" (click)="enquiryNow(det.productId)">
		<button ion-button block color="secondary" >ENQUIRY NOW</button>
	</div>
</ion-footer> -->