<ion-header class="catalogue-header bg-af-none">
	<ion-navbar>
		<ion-title>
			<div class="flex-tittle" *ngIf="filter=='AssignedToMe'">
				<p>Task Assign To Me</p>
				<!-- <span class="count">20</span> -->
			</div>
			<div class="flex-tittle" *ngIf="filter=='AssignedByMe'">
				<p>Task Assign By Me</p>
				<!-- <span class="count">20</span> -->
			</div>
			<div class="flex-tittle" *ngIf="filter=='JuniorsTask'" >
				<p>Junior's Task</p>
				<!-- <span class="count">20</span> -->
			</div>
		</ion-title>
		<ion-buttons end class="login-btn" (click)="presentPopover($event)" *ngIf="userRole!=10">
			<button ion-button >
				<img class="w4 h16" src="assets/icons/more-option-ic.svg" alt="">
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content>
	<div class="filter-search">
		<ion-searchbar placeholder="Search" #input [(ngModel)]="data.search" (input)="onSearchChangeHanlder()" (ionChange)="onClearSearchHandler()"></ion-searchbar>
	</div>
	
	<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
		<ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles">
		</ion-refresher-content>
	</ion-refresher>
	
	<div class="action-btn-2">

	<div class="top-tab">
		<div class="cs-button" [ngClass]="status == 1 ? 'active' : ''" (click)="clickEvent(1);scrollToTop()" ><p>InProcess <span class="counter"> {{InProcess}} </span></p></div>
		<div class="cs-button" [ngClass]="status == 2 ? 'active' : ''" (click)="clickEvent(2);scrollToTop()" ><p>Completed <span class="counter"> {{Completed}}</span></p></div>
		<div class="cs-button" [ngClass]="status == 3 ? 'active' : ''" (click)="clickEvent(3);scrollToTop()" ><p>Reopen<span class="counter">{{Reopen}} </span></p></div>
	</div>
</div>





<div class="mt16">
	<div class="list" (click)="task_detail(list.taskId)"  *ngFor="let list of task_list; let i=index">
		<div class="box {{list.taskType}} pending" >
			<div class="heading single-cloumn" >
				<span>Create By & Date</span>
				<div class="cs-flex">
					<div *ngIf="filter!='AssignedByMe'" class="call-d dflex">{{list.createdByName | titlecase}}</div>
					<div class="call-d dflex" *ngIf="filter=='AssignedByMe'">Create On</div>
					<h1 class="dark-clr line-height">{{list.createdOn|date :'MMMM d, y'}} </h1>
				</div>
			</div>
			

			<div class="heading single-cloumn" *ngIf="list.leadEstablishment!=''">
				<span>Company Name</span>
				<div class="cs-flex">
					<div class="call-d dflex">{{list.leadEstablishment  | titlecase }}</div>
					<!-- <h1 class="dark-clr line-height">{{list.deadline|date :'MMMM d, y'}} </h1> -->
				</div>
			</div>

			<div class="heading single-cloumn">
				<span>Task Priority & Date</span>
				<div class="cs-flex">
					<div class="call-d dflex">{{list.taskPriorityName  | titlecase }}</div>
					<h1 class="dark-clr line-height">{{list.deadline|date :'MMMM d, y'}} </h1>
				</div>
			</div>

			
			
			<div class="description">
				<div class="content-flex">
					<p class="dark-clr line-height-22 mt5"><strong>Remark</strong> : {{list.remarks | titlecase }}.</p>
					<p class="type">{{list.taskStatusName  | titlecase }}</p>
				</div>
				
			</div>
		</div>
	</div>
</div>

<div class="nothing-here" *ngIf="isNoDataFound==true" style="height: 75%;">
	<div class="outer">
		<div class="innear">
			<img src="assets/imgs/nothing.svg" alt="">
			<p>Nothing is here</p>
		</div>
	</div>
</div>
<ion-fab class="no-radius-btn" right bottom  (click)="scrollToTop()">
		<button ion-fab color="vibrant" *ngIf="show"><i class="material-icons">expand_less</i></button>
	</ion-fab>


<ion-infinite-scroll (ionInfinite)="taskList(2, $event)"  *ngIf="variableForScroll == false"  >
		<ion-infinite-scroll-content></ion-infinite-scroll-content>
	  </ion-infinite-scroll>



</ion-content>
