<ion-header class="catalogue-header">
	
	<ion-navbar>
		<ion-title>Create Order</ion-title>
		
		<ion-buttons *ngIf="currentStage==2" end class="login-btn" (click)="goToCheckoutPage()">
			
			<button ion-button class="notifications">
				<img class="w22 h22" src="assets/icons/cart.svg">
				<span class="counter">{{cartArr && cartArr.cart.length ? cartArr.cart.length : 0}}</span>
			</button>
			
		</ion-buttons>
	</ion-navbar>
	
</ion-header>

<ion-content class="after-none">
	
	<div class="first" *ngIf="currentStage==1">
		
		<div class="no-data-content">
			<p style="text-align: center">Select the distributor to proceed!</p>
		</div>
		
		
		<div class="cs-form padding16">
			<div>
				<label>Distributer</label>
				<ion-item class="form-field">
					<ionic-selectable item-content
					[items]="distributor_list"
					itemValueField="networkId"
					itemTextField="establishment"
					name="networkId"
					value="networkId"
					[(ngModel)]="data.networkId"
					(onChange)="getNetworkRelatedData(data.networkId,0)"
					[canSearch]="true">
				</ionic-selectable>
			</ion-item>
			
			<p *ngIf="isStageSubmit && (!data.networkId || !data.networkId['networkId'])" class="error-left relative">Distributor Required!</p>
		</div>
		
		<div>
			<label>Shipping Address</label>
			<ion-item class="form-field">
				<ionic-selectable item-content
				[items]="tmpShippingAddress"
				itemValueField="shippingAddressId"
				itemValueField="shipping"					
				itemTextField="shipping"
				value="shipping"
				[(ngModel)]="data.shippingAddressId"
				(onChange)="getNetworkRelatedData(data.shippingAddressId,0)"
				[canSearch]="true">
			</ionic-selectable>
		</ion-item>
		
		<p *ngIf="isStageSubmit && (!data.shippingAddressId || !data.shippingAddressId['shippingAddressId'])" class="error-left relative">Shipping Address Required!</p>
		
	</div>
</div>
</div>



<div class="second" *ngIf="currentStage==2">
	
	<div class="list">
		
		<div class="box light-red-bg relative">
			
			<div class="heading border-none">
				<div class="dist-name dflex">
					<div class="first-leter w50" style="background: rgb(22, 187, 118);">{{data.networkId['establishment'] ? data.networkId['establishment'][0] : ''}}</div>
					<div class="name-number flex-heading">
						<p>{{data.networkId['establishment']}}</p>
					</div>
				</div>
			</div>
			
			<div class="detail">
				<p><strong>Shipping Address</strong></p>
				<p class="f13">{{data.shippingAddressId && data.shippingAddressId['shipping'] ?data.shippingAddressId['shipping'] : ''}}</p>
			</div>
		</div> 
	</div>
	
	
	<div class="cs-form padding16">
		
		<div class="main-heading">
			<h2>Information</h2>
		</div>
		
		<div>
			<label>Segment</label>
			<ion-item class="form-field">
				<ionic-selectable item-content
				[items]="tmp_segmentList"
				itemValueField="value"
				itemTextField="value"			
				value="value"
				[(ngModel)]="data.segment"
				(onSelect)="productList()"
				(onDeSelect)="productList()"
				[canSearch]="true">
			</ionic-selectable>
		</ion-item>
	</div>	
	
	<div>
		<label>Category</label>
		<ion-item class="form-field">
			<ionic-selectable item-content
			[items]="category_list"
			itemValueField="value"
			itemTextField="value"
			value="value"
			[(ngModel)]="data.category"
			(onSelect)="productList()"
			(onDeSelect)="productList()"
			[canSearch]="true">
		</ionic-selectable>
	</ion-item>
</div>

<div>
	<label>Product Name</label>
	<ion-item class="form-field">
		<ionic-selectable item-content
		[items]="productNameList"
		itemValueField="productName"
		itemTextField="productName"
		[isMultiple]="false"
		name="productName"
		value="productName"
		[(ngModel)]="data.productName"
		[hasConfirmButton]="false"
		(onSelect)="getCartProductList()"
		(onDeSelect)="getCartProductList()"
		[canSearch]="true">
	</ionic-selectable>
</ion-item>
</div>
</div>
</div>


<div *ngIf="currentStage==2 && (data.segment?.value || data.category?.value || data.productName?.productName)">
	
	<div class="cs-heading">
		<p class="subject">PRODUCT INFORMATION</p>
	</div>
	
	<div class="cs-search">
		<div class="filter-search">
			<ion-searchbar [(ngModel)]="data.search" (input)="searchChangeHandler()" (ionChange)="clearFilter()" placeholder="Search Here"></ion-searchbar>
		</div>
	</div>
	
	<div class="list">
		<div class="box payment {{list.isItemSelected ? 'add-order' : ''}}" *ngFor="let list of cartProductList | myfilter: searchArr; let i = index">
			
			<div class="heading">
				<p class="code">{{i+1}} - {{list.partNumber}}</p>
				<h1 class="blue-clr" style="width: inherit;">{{list.oem}}</h1>
			</div>
			
			<div class="description">
				<div class="figure-outer mb16">
					<div class="one-line mt10 mb10">
						<div class="left-head">
							<p>Pending Order - {{list.pendingQty}}</p>
						</div>
						<!-- <div class="right-head" (click)="goToSchemeData()">
							<i class="cs-done material-icons">done</i>
							<a >Scheme</a>
						</div> -->
					</div>	
					
					<div class="figure-innear dflex">
						<div class="cs-figure">
							<p>Support (₹)</p>
							<p>₹ {{list.priceSupport}}</p>
						</div>
						<div class="cs-figure border-left">
							<p>Item (₹)</p>
							<p>₹ {{list.itemValue}}</p>
						</div>
						<div class="cs-figure border-left">
							<p>order (₹)</p>
							<p>₹ {{list.amount}}</p>
						</div>
						<div class="cs-figure border-left">
							<p>GST (%)</p>
							<p>{{list.gstPercentage}} %</p>
						</div>
					</div>
				</div>
				
				<div class="fig-outer">	
					<div class="figure-innear dflex">
						<div class="cs-figure">
							<p>MRP</p>
							<p>₹ {{list.mrp}}</p>
						</div>
						<div class="cs-figure border-left">
							<p>Min QTY</p>
							<p>{{list.moq}}</p>
						</div>
						<div class="cs-figure border-left cs-display w75">
							<ion-item>
								<ion-input type="number" [(ngModel)]="list.qty" placeholder="QTY" name="QTY" (input)="onQtyChangeHandler(list.productId)" (keyup.enter)="addToCartHandler(list.productId, list.qty)"></ion-input>
							</ion-item>
						</div>
					</div>
					<div class="cs-btn border-none">
						<button ion-button class="font12" color="secondary" (click)="addToCartHandler(list.productId, list.qty)">ADD</button>
					</div>
				</div> 
			</div>
		</div>
		
		<!-- <div class="p16">
			<button class="full-width-btn btn-radius" ion-button color="secondary" (click)="goToCart()">ADD TO CART <i class="material-icons pl30"></i></button>
		</div> -->
		
	</div>
</div>



<div class="h60"></div>

<ion-fab right *ngIf="currentStage==1"  bottom>
	<button (click)="onStageActionHandler()" ion-fab color="primary"><i class="material-icons">chevron_right</i></button>
</ion-fab>

<ion-fab left *ngIf="currentStage==2" bottom>
	<button (click)="onStageActionHandler()" ion-fab color="secondary">
		<i class="material-icons">chevron_left</i>
	</button>
</ion-fab>

</ion-content>



