<ion-list class="border-none mb0">

    <!-- <ion-item  class="f14" (click)="offPopup('Pending',2)" >Pending</ion-item>
    <ion-item class="f14"  (click)=" offPopup('Approved',5)">Approved</ion-item>
    <ion-item class="f14"  (click)="offPopup('Reject',6)">Reject</ion-item>
    <ion-item class="f14"  (click)="offPopup('Draft',1)">Draft</ion-item>
 -->


 <ion-item  class="f14" (click)="offPopupfun(1)" >My Expense</ion-item>

 <ion-item  class="f14" (click)="offPopupfun(2)" >My Team Expens </ion-item>







    <!-- <ion-item  class="f14" (click)="getExpenseList(filter,2) ;offPopup('Pending')" >Pending</ion-item>
  <ion-item class="f14"  (click)="getExpenseList(filter,5) ; offPopup('Approved')">Approved</ion-item>
  <ion-item class="f14"  (click)="getExpenseList(filter,6); offPopup('Reject')">Reject</ion-item>
  <ion-item class="f14"  (click)="getExpenseList(filter,1);offPopup('Draft')">Draft</ion-item> -->



  
</ion-list>