<ion-header class="catalogue-header bg-af-none">
    <ion-navbar>
        <ion-title>
            <!-- <p *ngIf="filter == 2">Created By Me</p>
                <p *ngIf="filter == 1">Assigned To Me</p> -->
                
                <div class="flex-tittle" *ngIf="filter == 2">
                    <p>Created By Me</p>
                </div>
                
                <div class="flex-tittle" *ngIf="filter == 1">
                    <p>Assigned To Me</p>
                </div>


                </ion-title>
                <ion-buttons end class="login-btn" (click)="presentPopover($event)">
                    <button ion-button >
                        <img class="w4 h16" src="assets/icons/more-option-ic.svg" alt="">
                    </button>
                </ion-buttons>
            </ion-navbar>
        </ion-header>
        
        <div class="tabs">
        </div>
        
        <ion-content>
            <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
                <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles">
                </ion-refresher-content>
            </ion-refresher>
            
            <div class="filter-search">
                <ion-searchbar placeholder="Search" #input [(ngModel)]="data.search" (input)="onSearchChangeHanlder()" (ionChange)="onClearSearchHandler()"></ion-searchbar>
            </div>
            
            <div class="action-btn-2">
                <!-- <div class="top-tab pb15">
                    <div class="cs-button  " [ngClass]="status == false ? 'active' : ''"  (click)="clickEvent()"  (click)="filter=2;lead_list(2)" >  <p>Created By Me1</p></div>
                    
                    <div class="cs-button "  [ngClass]="status ? 'active' : ''" (click)="clickEvent()"  (click)="filter=1;lead_list() "  ><p>Assigned To Me2</p></div>
                </div> -->
                
                
                <div class="top-tab">
                    <div class="cs-button " [ngClass] = "leadtype == '' ? 'active':'' " (click)="onClickLeadTypeHandler('');scrollToTop()"><p>All <span class="counter">0</span></p></div>
                    <div class="cs-button" [ngClass] = "leadtype == '11' ? 'active':'' "   (click)="onClickLeadTypeHandler('11');scrollToTop()"><p>Wholesaler <span class="counter">0</span></p></div>
                    <div class="cs-button"  [ngClass] = "leadtype == '12' ? 'active':'' "   (click)="onClickLeadTypeHandler('12');scrollToTop()"><p>Distributer <span class="counter">0</span></p></div>
                    <div class="cs-button"  [ngClass] = "leadtype == '13' ? 'active':'' " (click)="onClickLeadTypeHandler('13');scrollToTop()"><p>Retailer <span class="counter">0</span></p></div>
                    <div class="cs-button"  [ngClass] = "leadtype == '14' ? 'active':'' "   (click)="onClickLeadTypeHandler('14');scrollToTop()"><p>Mechanic <span class="counter">0</span></p></div>
                    <div class="cs-button"  [ngClass] = "leadtype == '15' ? 'active':'' "    (click)="onClickLeadTypeHandler('15');scrollToTop()" ><p>Reconditioner <span class="counter">0</span></p></div>
                </div>
            </div>
            
            <div class="nothing-here" *ngIf="!isRequestInProcess && leadList.length==0">
                <div class="outer">
                    <div class="innear">
                        <img src="assets/imgs/nothing.svg" alt="">
                        <p>Nothing is here</p>
                    </div>
                </div>
            </div>
            
            <div class="list" padding>
                <div class="box relative"  *ngFor="let a of leadList" (click)="goToLdetail(a.leadId)">
                    <div class="heading">
                        <div class="dist-name dflex">
                            <div class="first-leter" style="background: #FF7474;">{{a.establishment[0]}}</div>
                            <div class="top-content">
                                <h2>{{a.establishment | titlecase }}</h2>
                                <a href="tel:{{a.mobile}}">{{a.mobile}}</a>
                            </div>
                            <div class="date">
                                <h1>{{a.createdOn | date: 'dd MMM yyyy' }}</h1>
                            </div>
                        </div>
                        
                    </div>
                    
                    <div class="mid-content" *ngIf="a.leadContacts!=''">
                        <p><strong>Contact Person : </strong>{{a.leadContacts[0].name | titlecase }}</p>
                        <p><strong>Mobile Number: </strong> {{a.leadContacts[0].mobile1}},{{a.leadContacts[0].mobile2}}</p>
                        <p *ngIf="a.leadType == 11"><strong>Lead Type: </strong> Wholesaler</p>
                        <p *ngIf="a.leadType == 12"><strong>Lead Type: </strong> Distributer</p>
                        <p *ngIf="a.leadType == 13"><strong>Lead Type: </strong> Retailer</p>
                        <p *ngIf="a.leadType == 14"><strong>Lead Type: </strong> Mechanic</p>
                        <p *ngIf="a.leadType == 15"><strong>Lead Type: </strong> Reconditioner</p>
                    </div>
                    
                    <div class="text-with-ic dflex">
                        <i class="material-icons text-relat-icon">place</i>
                        <p>{{a.state | titlecase }}, {{a.district | titlecase }}, {{a.pin}}</p>
                    </div>
                    
                    <div class="right-arrow"><ion-icon name="ios-arrow-forward-outline"></ion-icon></div>
                </div>
                
            </div>
            <ion-fab class="no-radius-btn" right bottom  (click)="scrollToTop()">
                    <button ion-fab color="vibrant" *ngIf="show"><i class="material-icons">expand_less</i></button>
                </ion-fab>

            <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="variableForScroll == false" >
                    <ion-infinite-scroll-content></ion-infinite-scroll-content>
                  </ion-infinite-scroll>


                 

                    




        </ion-content>
        