<ion-header class="catalogue-header">
  
  <ion-navbar>
    <ion-title>Category Items</ion-title>
    <ion-buttons end class="login-btn" (click)="CloseOrderDetail()">
      <button ion-button>
        <img class="w17" src="assets/icons/cross.svg">
      </button>
    </ion-buttons>
  </ion-navbar>
  
</ion-header>


<ion-content padding>

  <div class="filter-search flat">
    <ion-searchbar [(ngModel)]="data.search" (input)="onSearchChangeHandler()" (change)="onRemoveSeachHandler()"  placeholder="Search Here"></ion-searchbar>
  </div>
  <!-- <ion-item>
    <ion-label><img class="w12" src="assets/imgs/ic_search.svg"></ion-label>
    <ion-input [(ngModel)]="data.search" (input)="searchChangeHandler()" placeholder="Search Here"></ion-input>
  </ion-item> -->
  
  <div class="list" *ngFor="let list of finalProductList">

    <div class="box payment">
      <div class="heading">
        <p class="code">{{list.partNumberCode}}</p>
        <h1 class="blue-clr">{{list.category}}</h1>

        <!-- <button class="vert" ion-button icon-only (click)="presentPopover($event)">
          <ion-icon name="more"></ion-icon>
        </button> -->
      </div>
      <div class="description">
        
        <div class="figure-outer mb16">
          <div class="one-line mt10 mb10">
            <div class="left-head">
              <p>{{list.model}}</p>
              <!-- <p>PULSAR 150/ PULSAR 180/ PULSAR 200-F</p> -->
            </div>
          </div>	
          <div class="figure-innear dflex">
            <div class="cs-figure">
              <p>Qty </p>
              <p *ngIf="!list.isQtyEdit"> {{list.quantity}}</p>
              
              <span *ngIf="list.isQtyEdit">
                <input type="number" [(ngModel)]="list.tempQty" (input)="onQtyChangeHandler(list.productId)" (keyup.enter)="saveUpdatedQty(list.productId)" placeholder="QTY">
              </span>
              
            </div>
            <div class="cs-figure border-left">
              <p>Item Value (₹)</p>
              <p>₹ {{list.price}}</p>
            </div>
          </div>
          
          <div class="figure-innear dflex">
            <div class="cs-figure">
              <p>Amt. (₹)</p>
              <p>₹ {{list.quantity * list.price}}</p>
            </div>
            <div class="cs-figure border-left">
              <p>GST (%)</p>
              <p>{{list.gstPercentage}} %</p>
            </div>
          </div>
          
          <!-- <button (click)="list.isQtyEdit=true; list.tempQty = list.quantity">Edit</button>
          <button (click)="saveUpdatedQty(list.productId)">Save</button>
          <button (click)="onDeleteItemHandler(list.productId)">Delete</button> -->
          


          <!-- <div class="full-width-btn text-right mt16">
              <button class="btn-radius" ion-button color="secondary" (click)="saveUpdatedQty(list.productId)">Save</button>
          </div>     -->

        </div> 
      </div>
    </div>
  </div>    
</ion-content>
