page-order-detail-model {
    .figure-outer
    {
        margin-bottom: 32px;
        
        .figure-innear
        {
            border: 1px solid rgba(0, 0, 0, 0.1);
            background: transparent;
            
            .cs-figure
            {
                width: 100%;
                padding: 5px;
                background: #fff !important;
                p
                {
                    font-size: 12px;
                    @extend.regular;
                    line-height: 20px;
                    
                    &:nth-child(2)
                    {
                        @extend.semibold;
                        font-size: 14px
                    }
                }
                
                ion-item
                {
                    min-height: 30px;
                    padding-left: 0px !important;
                    background: #dedede !important;
                    
                    .item-inner
                    {
                        border-bottom: 0px;
                        box-shadow: none;
                        padding-right: 0px !important;
                        height: 30px;
                        
                        ion-label
                        {
                            color: #000000 !important;
                            font-size: 12px;
                            @extend.regular;
                            margin-left: 6px;
                        }
                        
                        .datetime-text 
                        {
                            font-size: 16px;
                            @extend.semibold;
                            letter-spacing: 2px;
                            padding-right: 18px;
                        }
                        
                        .text-input
                        {
                            text-align: center;
                            color: #000000;
                            width: 50px;
                            height: 30px;
                            border: 0px;
                            font-size: 12px;
                            margin-bottom: 0px;
                            @extend.regular;
                        }
                        
                        ion-textarea
                        {
                            font-size: 16px;
                            line-height: 24px;
                            letter-spacing: 1px;
                            @extend.semibold;
                        }
                        
                        ion-select
                        {
                            max-width: 100%;
                            padding-left: 0px !important;
                            
                            .select-text
                            {
                                font-size: 12px;
                                @extend.semibold;
                            }
                        }
                        
                    }
                    
                    &:first-child, &:last-child
                    {
                        border-top: 0px !important;
                        border-bottom: 0px !important;
                    }
                }
            }
        }
        
        .one-line
        {
            display: flex;
            justify-content: space-between;
            
            .right-head
            {
                position: relative;
                background: transparent;
                border: 1px solid #ccc;
                border-radius: 15px;
                width: 90px;
                padding-left: 30px;
                
                a
                {
                    color: #00b900;
                }
            }
        }
    }
    
    .fig-outer
    {
        margin-bottom: 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .figure-innear
        {
            border: 1px solid rgba(0, 0, 0, 0.1);
            background: transparent;
            width: 100%;
            
            .cs-figure
            {
                width: 100%;
                padding: 5px;
                background: #fff !important;
                
                p
                {
                    font-size: 12px;
                    @extend.regular;
                    line-height: 20px;
                    
                    &:nth-child(2)
                    {
                        @extend.semibold;
                        font-size: 13px
                    }
                }
                
                ion-item
                {
                    min-height: 30px;
                    padding-left: 0px !important;
                    background: #dedede !important;
                    
                    .item-inner
                    {
                        border-bottom: 0px;
                        box-shadow: none;
                        padding-right: 0px !important;
                        height: 30px;
                        
                        ion-label
                        {
                            color: #000000 !important;
                            font-size: 12px;
                            @extend.regular;
                            margin-left: 6px;
                        }
                        
                        .datetime-text 
                        {
                            font-size: 16px;
                            @extend.semibold;
                            letter-spacing: 2px;
                            padding-right: 18px;
                        }
                        
                        .text-input
                        {
                            text-align: center;
                            color: #000000;
                            width: 50px;
                            height: 30px;
                            border: 0px;
                            font-size: 12px;
                            margin-bottom: 0px;
                            @extend.regular;
                        }
                        
                        ion-textarea
                        {
                            font-size: 16px;
                            line-height: 24px;
                            letter-spacing: 1px;
                            @extend.semibold;
                        }
                        
                        ion-select
                        {
                            max-width: 100%;
                            padding-left: 0px !important;
                            
                            .select-text
                            {
                                font-size: 12px;
                                @extend.semibold;
                            }
                        }
                        
                    }
                    
                    &:first-child, &:last-child
                    {
                        border-top: 0px !important;
                        border-bottom: 0px !important;
                    }
                }
            }
        }
        
        .one-line
        {
            display: flex;
            justify-content: space-between;
            
            .right-head
            {
                position: relative;
                background: #ccc;
                border-radius: 15px;
                width: 90px;
                padding-left: 30px;
            }
        }
    }
    
}
