<!-- Generated template for the LeavePopoverComponent component -->
<ion-list class="border-none mb0">
    <!-- <ion-item class="f14"  (click)="LeaveListPage(1)"  >Approved</ion-item>
    <ion-item  class="f14"  (click)="LeaveListPage(0)">Pending</ion-item>
    <ion-item class="f14"  (click)="LeaveListPage(2)"  >Reject</ion-item> -->




    <ion-item class="f14"  (click)="LeaveListPage(1)"  >My Leave</ion-item>

    <ion-item class="f14"  (click)="LeaveListPage(2)"  >My Junior Leave</ion-item>









  </ion-list>
