<ion-header class="catalogue-header">
	<ion-navbar>
		<ion-title>{{task_detail.userName}}</ion-title>
		<!-- <ion-buttons end class="login-btn">
			<button ion-button>
				<img class="w30" src="assets/icons/profil-ic-2.svg" alt="">
			</button>
		</ion-buttons> -->
		<!-- <ion-buttons end class="login-btn" (click)="leadOptionPopover($event)">
			<button ion-button>
				<img class="w4 h16" src="assets/icons/more-option-ic.svg" alt="">
			</button>
		</ion-buttons> -->
	</ion-navbar>
</ion-header>

<ion-content class="after-none">
		<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
				<ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles">
				</ion-refresher-content>
			</ion-refresher>
	
	<div class="list">
		<div class="box light-red-bg relative">
			<div class="heading border-none">
				<div class="dist-name dflex">
					<div class="first-leter w50" style="background: rgb(22, 187, 118);">{{tag}}</div>
					<div class="name-number flex-heading">
						<p>{{task_detail.userName | titlecase  }}</p>
					</div>
				</div>
			</div>
			
			<div class="detail">
				<div class="cs-table-list">
					<table>
						<tr>
							<td class="w110 bold">Date Created</td>
							<td class="w10 text-center">:</td>
							<td>{{task_detail.createdOn |date:'d MMM y'}}</td>
						</tr>
						<tr>
							<td class="bold">Created By</td>
							<td class="text-center">:</td>
							<td>{{task_detail.createdByName | titlecase }}</td>
						</tr>
						<tr>
							<td class="w130 bold">Assigned To</td>
							<td class="text-center">:</td>
							<td>{{task_detail.userName | titlecase }}</td>
						</tr>
						
						<tr *ngIf="task_detail.taskType==1">
							<td class="bold">Task Type</td>
							<td class="text-center">:</td>
							<td>Lead</td>
						</tr>
						<tr *ngIf="task_detail.taskType==1">
								<td class="bold">Lead Name</td>
								<td class="text-center">:</td>
								<td>{{task_detail.leadEstablishment | titlecase }}</td>
							</tr>
						
						<tr>
							<td class="bold">Updated By</td>
							<td class="text-center">:</td>
							<td>{{task_detail.modifiedByName | titlecase  }}</td>
						</tr>
						<tr>
							<td class="bold">Status</td>
							<td class="text-center">:</td>
							<td>{{task_detail.taskStatusName | titlecase }}</td>
						</tr>
						<tr>
							<td class="bold">DeadLine</td>
							<td class="text-center">:</td>
							<td>{{task_detail.deadline | date:'d MMM y'}}</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		
		<div class="pr16 pl16 pt10 pb10">
			<div class="figure-outer mb0">
				<div class="figure-innear">
					<div class="cs-figure">
						<p>Description</p>
						<p>{{task_detail.remarks | titlecase }}
						</p>
					</div>
				</div>
			</div>
		


		<div class="table-list mt25" *ngIf="task_detail.taskDetails!=''">
				<div class="heading-text m0 ">
					<p>REMARK DETAIL</p>
				</div>
				<div class="table-box">
					<table *ngFor=" let rmrks of task_detail.taskDetails;let i=index">
						<tr>
							<th class="w110">Date</th>
							<td>{{rmrks.createdOn |date:'d MMM y'}}</td>
						</tr>
					<tr>
							<th>user Name</th>
							<td>{{rmrks.createdByName | titlecase }}</td>
					</tr>
					<tr>
							<th>Remark</th>
							<td>{{rmrks.remarks | titlecase }}</td>
					</tr>
					<tr *ngIf="userId==rmrks.createBy && task_detail.taskStatusName !='Completed'">
							<th>Action</th>
							<td>
								<div class="action">
									<a class="edit" (click)="UpdateRemarksDiv(i)">Edit</a>
									<a class="del" (click)="delete_remarks(rmrks.taskDetailId)">Delete</a>
								</div>
							</td>
					</tr>
					</table>
				</div>
				
			</div>

			<div class="sprate-box mt16" *ngIf="task_detail.taskStatusName && ((task_detail.taskStatusName != 'Completed') || (task_detail.taskStatusName=='Completed' && reopenDiv))" padding>
					<div class="heading-text mb0" *ngIf="task_detail.taskStatusName=='InProcess' || task_detail.taskStatusName=='Reopen'">
						<p class="mb0">UPDATE TASK</p>
					</div>
			
					<ion-item class="pl0">
						<ion-label>Select Action Type</ion-label>
						<ion-select name="taskaction" (ngModelChange)="actionOnTask($event)" #taskaction="ngModel" [(ngModel)]="task_detail.taskaction">
							<ion-option value="1">Leave Remark</ion-option>
							<ion-option value="2">Close Task</ion-option>
						</ion-select>
					</ion-item>
			
					<ion-item class="pl0" *ngIf="task_detail.taskaction==2 && task_detail.taskType==1">
						<ion-label>Lead Status</ion-label>
						<ion-select #taskType="ngModel" name="leadConverted" #leadConverted="ngModel" [(ngModel)]="data.leadConverted">
							<ion-option value=true>Accept</ion-option>
							<ion-option value=false>Reject</ion-option>
						</ion-select>
					</ion-item>
			
					<ion-item class="border-none mt0 pl0 " *ngIf="task_detail.taskaction">
						<ion-label class="remark black-clr" floating>Remark</ion-label>
						<ion-textarea class="border-1px pl10" style="padding: 10px;" name="remarks" #remarks="ngModel" [(ngModel)]="data.remarks"></ion-textarea>
					</ion-item>
			
						<div  *ngIf="task_detail.taskaction==2 && task_detail.taskType==1" class="col s12">
							<div class="cs-btn  mt15 text-right">
							  <div class="in-btn">
								<button mat-raised-button color="accent" mat-stroked-button (click)="closeLead(task_detail.taskId)" [disabled]="!data.remarks || data.leadConvert">close Lead</button>
							  </div>
							</div>
						</div>
			
						<div *ngIf="task_detail.taskaction==1" class="col s12">
							<div  class="cs-btn fixedd mt15 text-right">
							  <div class="in-btn">
								<button mat-raised-button color="accent" mat-stroked-button [disabled]="!data.remarks" (click)="UpdateRemark(task_detail.taskId)" >update remark</button>
							  </div>
							</div>
						</div>
			
						<div *ngIf="task_detail.taskaction==2 && task_detail.taskType!=1" class="col s12">
							<div class="cs-btn mt15 text-right">
							  <div class="in-btn">
									<button mat-raised-button color="accent" mat-stroked-button (click)="closeTask(task_detail.taskId)" [disabled]="!data.remarks">close task</button>
							  </div>
							</div>
						 </div>
				</div>
		
			<div class="" *ngIf="task_detail.taskStatusName=='Completed' && userId==task_detail.createBy">
				<div class="cs-btn fixedd right mt15">
						<div class="in-btn" *ngIf="reopenDiv2==false">
								<button mat-raised-button color="accent" (click)="reOpenDiv2()" mat-stroked-button >Reopen </button>
							  </div>
				</div>	
				
					<ion-item class="border-none mt0 pl0 " *ngIf="reopenDiv2==true">
						  <ion-label class="remark black-clr" floating>Remark</ion-label>
						  <ion-textarea class="border-1px pl10" style="padding: 10px;" name="remarks" #remarks="ngModel" [(ngModel)]="data.remarks"></ion-textarea>
					  </ion-item>
					  
					  <div class="cs-btn fixedd right mt15">
						    <div class="in-btn" *ngIf="reopenDiv2==true">
									<button mat-raised-button color="accent" mat-stroked-button (click)="reOpenTask(task_detail.taskId)" [disabled]="!data.remarks">ReOpen Task</button>
							  </div>
					  </div>
					
				  </div>
				</div>

	</div>
	
	
	

	<div class="h50"></div>
</ion-content>
