page-product-list {


    .list-icon,
    .filter-icon
    {
        position: absolute;
        right: 40px;
    }

    
    
    .filter-icon
    {
        right: 0;
        
        .fab
        {
            margin: 0;
            position: absolute;
            right: 0px;
            top: 28px;
        }
        
        
        ion-fab-list
        {
            right: 0;
            margin: 0;
            background: #fff;
            border: solid 1px #BCBCBC;
            box-shadow: 0px 3px 26px 0px rgba(0,0,0,0.2);
            top: 70px;
            
            .clcsd
            {
                .collapsible
                {
                    width: 200px;
                    // height: 440px;
                    // overflow: scroll;
                    border: 0px;
                    box-shadow: none;

                    li
                    {
                        list-style: none;
                        
                        .collapsible-header
                        {
                            padding: 10px 15px;
                            text-align: left;
                            font-size: 14px;
                            @extend.regular;
                            letter-spacing: 0.40px;
                            color: #000;
                            background: #ECECEC;
                            position: relative;
                            border-bottom: solid 1px #BCBCBC;
                            
                            &:after
                            {
                                position: absolute;
                                content: "";
                                background: url(../assets/icons/plus-ic.svg) no-repeat center;
                                background-size: 10px;
                                width: 20px;
                                height: 20px;
                                right: 6px;
                                transition: 0.3s linear;
                                top: 8px;
                            }
                            
                        }
                        .clear-btn
                        {
                            line-height: 35px;
                            text-align: center;
                            background: $theme;
                            color: #fff;
                            font-size: 14px;
                            letter-spacing: 2px;
                            @extend.semibold;   
                        }
                        
                        .collapsible-body
                        {
                            display: none;
                            max-height: 45vh;
                            overflow: scroll;
                            padding: 0px;

                            ion-item
                            {
                                ion-checkbox
                                {
                                    margin: 9px 23px 9px 4px;
                                    
                                    .checkbox-icon
                                    {
                                        width: 14px;
                                        height: 14px;
                                        border-width: 1px;
                                    }
                                }
                                
                                .item-inner
                                {
                                    .input-wrapper
                                    {
                                        ion-label
                                        {
                                            margin: 3px 8px 3px 0;
                                            font-size: 12px;
                                            letter-spacing: 0.40px;
                                            @extend.regular;
                                        }
                                    }
                                }
                            }
                        }
                        
                        &.active
                        {
                            .collapsible-header
                            {
                                &:after
                                {
                                    background: url(../assets/icons/minus-ic.svg) no-repeat center;
                                    background-size: 10px;
                                }
                            }
                            
                            .collapsible-body
                            {
                                display: block;
                            }
                        }
                    }
                }
                
            }
        }
    }

}
