<ion-header class="catalogue-header">
	<ion-navbar>
		<ion-title>Product List</ion-title>
		<!-- <ion-buttons end class="login-btn">
			<button ion-button>
				<img src="assets/icons/logout-ic.svg" alt="">
			</button>
		</ion-buttons> -->
	</ion-navbar>
</ion-header>


<ion-content> 
	
	<div class="search-blog">
	    <ion-searchbar placeholder="Search" #input [(ngModel)]="data.search" (input)="onSearchChangeHanlder()" (change)="onClearSearchHandler()"></ion-searchbar>
	</div>

	<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
		<ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
		</ion-refresher-content>
	</ion-refresher>

	<div class="cs-header sticky-header shadow-1">
		<h2>{{products?.length ? products.length : 0}} Products found</h2>
		
		<ion-buttons end class="list-icon mr10"  (click)=changeView() >
			<button ion-button>
				<img [ngClass]="{'active':g_view}" src="assets/icons/icon-list.svg" alt="">
			</button>
		</ion-buttons>
		
		
		<!-- <ion-buttons end class="filter-icon">
			<ion-fab top right edge>
				<button ion-fab mini><img src="assets/icons/icon-filter.svg" alt=""></button>
				
				<ion-fab-list >
					<div class="clcsd">
						<ul materialize="collapsible" class="collapsible" data-collapsible="accordion">
							<li>
								<div class="collapsible-header" (click)="check('Cat')">Category</div>
								<div class="collapsible-body">
									<ion-item *ngFor="let data of catList;let i = index" >
										<ion-label>{{data.text}} </ion-label>
										<ion-checkbox color="light" [(ngModel)]="data.checkCat" (ionChange)="FilterProd('category',data.checkCat,data.value,data.text)"></ion-checkbox>
									</ion-item>
								</div>
							</li>
							<li>
								<div class="collapsible-header" (click)="check('Oem')">OEM</div>
								<div class="collapsible-body">
									<div>
										<ion-item *ngFor="let j of oemList;let x = index">
											<ion-label>{{j.text}}</ion-label>
											<ion-checkbox color="light" [(ngModel)]="j.checkOem" (ionChange)="FilterProd('Oem',j.checkOem,j.value,j.text)"></ion-checkbox>
										</ion-item>
										
									</div>
								</div>	
							</li>
							<li *ngIf="checkFilter=='Oem'">
								<div class="clear-btn" (click)="clearFilter(Oem)">Clear</div>
							</li>
							<li *ngIf="checkFilter=='Cat'">
								<div class="clear-btn" (click)="clearFilter(Cat)">Clear</div>
							</li>
						</ul> 
					</div>
				</ion-fab-list>
			</ion-fab>
		</ion-buttons> -->
	</div>
	
	<div class="main-container" [ngClass]="{'active':g_view}">
		
		<div class="figure"  (click)="productDetail(prod.productId)" *ngFor='let prod of products'>
			<div class="pcl">
				<div class="thumb">
					<div class="outer">
						
						<div class="innear" *ngIf="!prod.documents || prod.documents?.length==0">
							<img alt="" src="assets/imgs/dumy-product.svg">
						</div>
						
						<div class="innear"  *ngFor="let img of prod.documents;let i=index">
							<img alt="" *ngIf="i==0"  src="{{api+img.documentId+'/'+'2'}}">
						</div>
					</div>
				</div>
				<div class="discriptions">
					<h1>{{prod.productName}}</h1>
					<h2>{{prod.partNumber}}</h2>
					<h3>&#8377;<span> {{prod.mrp}}/-</span></h3>
				</div>
			</div>
		</div>
	</div>
	



	
	<ion-fab class="no-radius-btn" right bottom  (click)="scrollToTop()">
			<button ion-fab color="vibrant" *ngIf="show"><i class="material-icons">expand_less</i></button>
		</ion-fab>

	<ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="variableForScroll == false" >
			<ion-infinite-scroll-content></ion-infinite-scroll-content>
		  </ion-infinite-scroll>


		  
</ion-content>
