<ion-header class="catalogue-header">
        <ion-navbar>
            <ion-title>
                Travel Plan Detail
            </ion-title>
        </ion-navbar>
    </ion-header>
    
    <ion-content padding>
        
        <div class="cs-list mb0">
            <div class="list-data flat-item">
                <div class="figure  padding0">
                    <ul>
                            <li  class="wp100" *ngIf="travelPlanDetail.userId != userId">
                                    <span>User Name</span>
                                    <p>{{travelPlanDetail.userName}}</p>
                                </li>
                        <li>
                            <span>Year</span>
                            <p>{{travelPlanDetail.year}}</p>
                        </li>
                        <li>
                            <span>Month</span>
                            <p *ngIf="travelPlanDetail.month==1 ">January</p>
                            <p *ngIf="travelPlanDetail.month==2">February</p>
                            <p *ngIf="travelPlanDetail.month==3 ">March</p>
                            <p *ngIf="travelPlanDetail.month==4 ">April</p>
                            <p *ngIf="travelPlanDetail.month==5 ">May</p>
                            <p *ngIf="travelPlanDetail.month==6 ">June</p>
                            <p *ngIf="travelPlanDetail.month==7 ">July</p>
                            <p *ngIf="travelPlanDetail.month==8 ">August </p>
                            <p *ngIf="travelPlanDetail.month==9 ">September</p>
                            <p *ngIf="travelPlanDetail.month==10 ">October </p>
                            <p *ngIf="travelPlanDetail.month==11 ">November </p>
                            <p *ngIf="travelPlanDetail.month==12 ">December </p>
                        </li>
                        <li>
                            <span>Travel Budget</span>
                            <p> &#x20B9; {{travelPlanDetail.travelBudget}}</p>
                        </li>
                        <li>
                            <span>Sales Budget</span>
                            <p> &#x20B9; {{travelPlanDetail.salesBudget}}</p>
                        </li>
                        
                        <li class="wp100 compelete">
                            <span>Status</span>
                            
                        <p  class="type"  *ngIf=" travelPlanDetail.status == 5 || travelPlanDetail.status == 3"> Approved</p>	
						<p class="type"   *ngIf=" travelPlanDetail.status == 2"> Pending</p>	
						<p class="type"  *ngIf=" travelPlanDetail.status == 6 || travelPlanDetail.status == 4"> Reject</p>
                        <p  class="type"   *ngIf=" travelPlanDetail.status == 1"> Draft</p> 
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="cs-collaps mt16" >
                <ul class="collapsible mb4" >
                  <li *ngFor="let d of planArray">
                    <div class="collapsible-header">{{d.planDate |date:'EEEE, MMMM d, y'}}</div>
                    <div class="collapsible-body">
                            <div class="detail-box">
            
                                    <div class="table-box" *ngFor="let planlist of d.plandDetail">
                                        <table >
                                            <tr>
                                                <th class="w110">State</th>
                                                <td>{{planlist.state}}</td>
                                            </tr>
                                            <tr>
                                                <th>District</th>
                                                <td>{{planlist.district}}</td>
                                            </tr>
                                            <tr>
                                                <th>City</th>
                                                <td>{{planlist.city}}</td>
                                            </tr>
                                            <tr>
                                                <th>Sales Activity</th>
                                                <td   *ngIf="planlist.salesActivity == true">YES</td>
                                                <td   *ngIf="planlist.salesActivity != true">No</td>
                                            </tr>
                                            <tr *ngIf="planlist.salesActivity == true">
                                                    <th>Activity</th>
                                                    <td *ngIf="planlist.activityType==1">Mechanic get together</td>
                                                    <td *ngIf="planlist.activityType==2">Retailer get together</td>
                                                    <td *ngIf="planlist.activityType==3">van Campaign</td>
                                                    <td *ngIf="planlist.activityType==4">Stall Campaign</td>
                                                    <td *ngIf="planlist.activityType==5">Exhibition Participation</td>
                                                    <td *ngIf="planlist.activityType==6">Signboard</td>
                                                    <td *ngIf="planlist.activityType==7">Wall/Shop Painting</td>
                                                    <td *ngIf="planlist.activityType==8">GiveAways</td>
                                                    <td *ngIf="planlist.activityType==9">Printing Of Lesafelts,banners, posters etc.</td>
                                                </tr>
                                            <tr *ngIf="planlist.salesActivity == true">
                                                <th>Sales Budget</th>
                                                <td>&#x20B9; {{planlist.salesBudget}}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                    </div>
                  </li>
                </ul>
              </div>
        
    </ion-content>
    
    
    
    
    