<!--
  Generated template for the DvrAddPage page.
  
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header class="catalogue-header">
  <ion-navbar>
    <ion-title>Add Concern</ion-title>
    <ion-buttons end class="login-btn" (click)="goToCart()">
			<button ion-button class="notifications">
				<img class="w22 h22" src="assets/icons/cart.svg">
				<span class="counter">1</span>
			</button>
		</ion-buttons>
  </ion-navbar>
</ion-header>
<!-- <form> -->
  <ion-content class="after-none">
    <div class="lead-steps">
      <div class="step process">
        <div class="outer">
          <div class="innear">
            <img class="default-img" src="assets/icons/step-1.svg" alt="">
            <img class="active-img" src="assets/icons/step-1-active.svg" alt="">
            <p>STEP 1</p>
            <img class="process-img" src="assets/icons/process-ic.svg" alt="">
            <img class="done-img" src="assets/icons/done-ic.svg" alt="">
          </div>
        </div>
      </div>
      <div class="step">
        <div class="outer">
          <div class="innear">
            <img class="default-img" src="assets/icons/step-2.svg" alt="">
            <img class="active-img" src="assets/icons/step-2-active.svg" alt="">
            <p>STEP 2</p>
            <img class="process-img" src="assets/icons/process-ic.svg" alt="">
            <img class="done-img" src="assets/icons/done-ic.svg" alt="">
          </div>
        </div>
      </div>
      <div class="step">
        <div class="outer">
          <div class="innear">
            <img class="default-img" src="assets/icons/step-3.svg" alt="">
            <img class="active-img" src="assets/icons/step-3-active.svg" alt="">
            <p>STEP 3</p>
            <img class="process-img" src="assets/icons/process-ic.svg" alt="">
            <img class="done-img" src="assets/icons/done-ic.svg" alt="">
          </div>
        </div>
      </div>
    </div>
    <!-- Basic Information Start -->
    <form *ngIf="isStep1" #f1="ngForm" (ngSubmit)="f1.form.valid && Next1()" novalidate>
      <div class="step-2 ul-clear">
        <div class="cs-form padding16">
        <div class="main-heading pt16"><h2>CONCERN TYPE</h2></div>
      <div>
          <label>Select Distributor*</label>
          <ion-item class="form-field">
            <ion-select name="distributor"   [(ngModel)]="concern_form.distributor" #distributor="ngModel"  [ngClass]="{ 'is-invalid': f1.submitted && distributor.invalid }" required>
              <ion-option  *ngFor="let distributor of distributorList;let i=index" value="{{distributor.networkId}}">{{distributor.establishment}}</ion-option>
            </ion-select>
          </ion-item>
          <div *ngIf="f1.submitted && distributor.invalid" >
              <p class="error-left" *ngIf="distributor.errors.required">Distributoris required</p>
           </div>
      </div>
         <div>
            <label>Claim Type*</label>
            <ion-item class="form-field">
                <ion-select name="claimType"  [(ngModel)]="concern_form.claimType" #claimType="ngModel"  [ngClass]="{ 'is-invalid': f1.submitted && claimType.invalid }" required >
                  <ion-option value="1">Product</ion-option>
                  <!-- <ion-option value="2">Other</ion-option> -->
                </ion-select>
              </ion-item>
              <div *ngIf="f1.submitted && claimType.invalid" >
                  <p class="error-left" *ngIf="claimType.errors.required">Claim Type  is required</p>
              </div>
         </div>

          <div *ngIf="concern_form.claimType==1">
              <label>Product Type*</label>
          <ion-item class="form-field" >
            <ion-select  name="productType"  [(ngModel)]="concern_form.productType" #productType="ngModel"  [ngClass]="{ 'is-invalid': f1.submitted && productType.invalid }" required  >
              <ion-option value="1">Pre-Fitment</ion-option>
              <ion-option value="2">Post-Fitment</ion-option>
            </ion-select>
          </ion-item>
          <div *ngIf="f1.submitted && productType.invalid" >
              <p class="error-left" *ngIf="productType.errors.required">Product Type  is required</p>
          </div>
        </div>

          <div class="term-condition"  *ngIf="concern_form.productType">
            <p class="heading-text m32 mb0 ml0">T&C <span  *ngIf="concern_form.productType==1">Pre-Fitment:</span><span  *ngIf="concern_form.productType==2">Post-Fitment:</span></p>
            <h2><span  *ngIf="concern_form.productType==1">Pre-Fitment:</span><span  *ngIf="concern_form.productType==2">Post-Fitment:</span></h2>
            <ul *ngIf="concern_form.productType==1">
              <li>Kenshin original part.</li>
              <li>Product packing should be intact..</li>
              <li>Product should not have been used after being fit on the vehicle.</li>
              <li>Parts should be less than 2 years old from manufacturing date.</li>
            </ul>
            <ul *ngIf="concern_form.productType==2">
                <li>Kenshin original part.</li>
                <li>Product should be fitted.</li>
                <li>Product should have been used after being fitted on the vehicle.</li>
                <li>Product should use only for its intended function.</li>
             </ul>
              
            <div class="check-condition">
              <ion-list >
                <ion-item class="mt0">
                  <ion-label>I have read T&C</ion-label>
                  <ion-checkbox name="isCheck" [(ngModel)]="concern_form.isCheck" ></ion-checkbox>
                </ion-item>
              </ion-list>
            </div>
          </div>
          
        </div>
        <div class="cs-btn border-none m32 mt0 right-btn">
          <button ion-button color="dark" round style="left: 0px;	padding: 0 8px;"(click)="back1()" ><i class="material-icons">keyboard_backspace</i></button>
          <button *ngIf="concern_form.isCheck" ion-button color="secondary" round>Proceed <i class="material-icons pl30">trending_flat</i></button>
        </div>
      </div>
    </form>	
    <!-- Basic Information End -->
    
    <!-- Address Information Start -->
    <form *ngIf="isStep2" #f2="ngForm" (ngSubmit)="f2.form.valid && Next2()" novalidate>
      <div class="step-3 ul-clear">
       
          <div class="cs-form padding16">
              <div class="main-heading pt16"><h2>PRE-FITMENT CLAIM</h2></div>
      <div>
          <label>Segment</label>
          <ion-item class="form-field">
              <ion-select name="country" >
                <ion-option value="1">2W</ion-option>
                <ion-option value="2">3W</ion-option>
                <ion-option value="3">4W</ion-option>
                <ion-option value="4">6W</ion-option>
              </ion-select>
            </ion-item>
      </div>
         <div>
            <label>Category</label>
            <ion-item class="form-field">
                <ion-select name="country" >
                  <ion-option value="1">Brakes</ion-option>
                  <ion-option value="2">Consumables</ion-option>
                  <ion-option value="3">Brakes</ion-option>
                  <ion-option value="4">Consumables</ion-option>
                </ion-select>
              </ion-item>
         </div>
          <div>
              <label>Product</label>
              <ion-item class="form-field">
                  <ion-select name="country" >
                    <ion-option value="1"> Lubricants 1</ion-option>
                    <ion-option value="2"> Lubricants 2</ion-option>
                    <ion-option value="3"> Lubricants 3</ion-option>
                    <ion-option value="4"> Lubricants 4</ion-option>
                  </ion-select>
                </ion-item>
          </div>
        </div>
        
        <div class="cs-btn border-none m32 mt0 right-btn">
          <button ion-button color="dark" round style="left: 0px;	padding: 0 8px;" (click)="back2()"><i class="material-icons">keyboard_backspace</i></button>
          <button ion-button color="secondary" round>NEXT <i class="material-icons pl30">trending_flat</i></button>
        </div>
      </div>
    </form>
    <!-- Address Information End -->
    
    
    <div class="main-heading"  *ngIf="isStep3">
      <h2>Product Information</h2>
    </div>
    <div class="cs-search" *ngIf="isStep3">
      <ion-item >
        <ion-searchbar></ion-searchbar>
        <!-- <ionic-selectable
          item-content>
        </ionic-selectable> -->
      </ion-item>
    </div>
    <div class="list" *ngIf="isStep3">
      <div class="box payment">
     
        <div class="description">
          <div class="figure-outer mb16">
          
            <div class="figure-innear dflex">
              <div class="cs-figure">
                <p>Part Number</p>
                <p>DPNABA0001</p>
              </div>
              <div class="cs-figure border-left">
                <p>Product Name</p>
                <p>Brake Pad</p>
              </div>
            </div>

            <div class="figure-innear dflex">
              <div class="cs-figure">
                <p>Application No</p>
                <p>EF5678</p>
              </div>
              <div class="cs-figure border-left" >
                <p>Image</p>
                <label class="img-file">
                  <input type="file" style="display: none;">
                  Add Image
                </label>

                <p (click)="goToImageData()" style="color: #0427dd;">View Image</p>
              </div>
            </div>

            <div class="figure-innear dflex">
              <div class="cs-figure">
                <p>QTY *</p>
                <ion-item>
                  <ion-input type="text" placeholder="QTY" name="QTY"></ion-input>
                </ion-item>
              </div>
              <div class="cs-figure border-left">
                <p>Date*</p>
                <ion-item class="mt0">
                  <ion-datetime displayFormat="MM/DD/YYYY" pickerFormat="MM/DD/YYYY" ></ion-datetime>
                </ion-item>
              </div>
            </div>

            <div class="figure-innear dflex">
              <div class="cs-figure">
                <p>Invoice No.</p>
                <p>30</p>
              </div>
              <div class="cs-figure border-left">
                <p>Rate</p>
                <p>₹ 30</p>
              </div>
            </div>
          </div> 
        </div>
      </div>
      
      
      <div class="p16">
        <button class="full-width-btn btn-radius" ion-button color="secondary" (click)="goToCart()">ADD TO CART <i class="material-icons pl30"></i></button>
      </div>
    </div>

  </ion-content>
  <!-- </form> -->
  
  <ion-header>
    
    
    