<ion-header class="catalogue-header">
	<ion-navbar>
		<ion-title>Creat Folowup-Up</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding class="after-none">
	<form name="form"  (ngSubmit)="d.valid && submit()"  #d="ngForm">
		
		<div class="cs-form">
			<div>
				<label>User Type</label>
				<ion-item class="form-field">
					<ion-select (ionChange)="userList(data.role)" name="role" #role="ngModel" [(ngModel)]="data.role"  [ngClass]="{'is-invalid' : d.submitted && role.invalid}" required>
						<ion-option *ngFor='let list of userTypelist' value="{{list.roleId}}" >{{list.roleName}}</ion-option>
						<ion-option value=0 >Other</ion-option>
					</ion-select>
				</ion-item>
				<div *ngIf="d.submitted && role.invalid" >
					<div  class="error-left">Role Type is required....</div>
				</div>
			</div>
			
			<div *ngIf="leadListActive">
				<label>Select Lead</label>
				<ion-item  class="form-field">
					<ionic-selectable 
					item-content
					[items]="lead_user_List"
					itemValueField="leadId"
					itemTextField="establishment"
					[canSearch]="true"
					[isMultiple]="false"
					name="referenceId"
					[(ngModel)]="data.referenceId"
					(onChange)="check()"
					>
				</ionic-selectable>
			</ion-item>
		</div>
		
		<div *ngIf="salesListActive">
			<label>Select Network</label>
			<ion-item  class="form-field">
				<ionic-selectable 
				item-content
				[items]="sales_user_List"
				itemValueField="networkId"
				itemTextField="establishment"
				[canSearch]="true"
				[isMultiple]="false"
				name="referenceId"
				[(ngModel)]="data.referenceId"
				(onChange)="check()"
				>
			</ionic-selectable>
		</ion-item>
	</div>
	
	
	<div *ngIf="data?.referenceId && data['referenceId']['leadId']==0" >
		<div>
			<label>Name </label>
			<ion-item class="form-field">
				<ion-input  name="OtherCustomer" #OtherCustomer="ngModel" [(ngModel)]="data.OtherCustomer"
				[ngClass]="{ 'is-invalid': d.submitted && OtherCustomer.invalid }" required></ion-input>
			</ion-item>
			<div *ngIf="d.submitted && OtherCustomer.invalid"  >
				<p class="error-left" >Name is required</p>
			</div>
		</div>
		<div>
			<label>Mobile </label>
			<ion-item  class="form-field">
				<ion-input name="mobile" #mobile="ngModel" (keypress)="MobileNumber($event)"  minlength="10" maxlength="10" [(ngModel)]="data.mobile" [ngClass]="{ 'is-invalid': d.submitted && mobile.invalid }" required></ion-input>
			</ion-item>
			<div *ngIf="d.submitted && mobile.invalid" >
				<p class="error-left" >Mobile is required</p>
			</div>
		</div>
		<div>
			<label>Select Segment</label>
			<ion-item class="form-field">
				<ion-select multiple="true" name="segment"  #segment="ngModel" [(ngModel)]="data.segment"  [ngClass]="{ 'is-invalid': d.submitted && segment.invalid }" required>
					<ion-option disabled="">Select</ion-option>
					<ion-option *ngFor="let segment of segmentlist;let i=index" value="{{segment.text}}">{{segment.text}}</ion-option>
				</ion-select>
			</ion-item>
			<div *ngIf="d.submitted && segment.invalid" >
				<div  class="error-left">Segment is required....</div>
			</div>
		</div>
	</div>
	
	<div *ngIf="data?.referenceId && data['referenceId']['networkId']==0 " >
		<div>
			<div>
				<label>Name </label>
				<ion-item  class="form-field">
					<ion-input  name="OtherCustomer" #OtherCustomer="ngModel" [(ngModel)]="data.OtherCustomer"
					[ngClass]="{ 'is-invalid': d.submitted && OtherCustomer.invalid }" required></ion-input>
				</ion-item>
				<div *ngIf="d.submitted && OtherCustomer.invalid"  >
					<p class="error-left" >Name is required</p>
				</div>
			</div>
			<div>
				<label >Mobile </label>
				<ion-item class="form-field">
					<ion-input name="mobile" #mobile="ngModel" (keypress)="MobileNumber($event)"  minlength="10" maxlength="10" [(ngModel)]="data.mobile" [ngClass]="{ 'is-invalid': d.submitted && mobile.invalid }" required></ion-input>
				</ion-item>
				<div *ngIf="d.submitted && mobile.invalid" >
					<p class="error-left" >Mobile is required</p>
				</div>
			</div>
		</div>
		<div>
			<label>Select Segment</label>
			<ion-item class="form-field">
				<ion-select multiple="true" name="segment"  #segment="ngModel" [(ngModel)]="data.segment"  [ngClass]="{ 'is-invalid': d.submitted && segment.invalid }" required>
					<ion-option disabled="">Select</ion-option>
					<ion-option *ngFor="let segment of segmentlist;let i=index" value="{{segment.text}}">{{segment.text}}</ion-option>
				</ion-select>
			</ion-item>
			<div *ngIf="d.submitted && segment.invalid" >
				<div  class="error-left">Segment is required....</div>
			</div>
		</div>
	</div>
	
	
	<div *ngIf="data.role == 0 ">
		<label>Name*</label>
		<ion-item   class="form-field">
			<ion-input  name="OtherCustomer" #OtherCustomer="ngModel"    [(ngModel)]="data.OtherCustomer" [ngClass]="{ 'is-invalid': d.submitted && OtherCustomer.invalid }" required></ion-input>
		</ion-item>
	</div>
	<!-- <div *ngIf="d.submitted && OtherCustomer.invalid">
		<p class="error-left"> Name is required....</p>
	</div> -->
	

		
		<div>
			<label>Remark</label>
			<ion-item  class="form-field">
				<ion-textarea name="remarks" rows="3" cols="3" type="text" [ngClass]="{'is-invalid' : d.submitted && remarks.invalid}" #remarks="ngModel" [(ngModel)]="data.remarks" required></ion-textarea>
			</ion-item>
			<div *ngIf="d.submitted && remarks.invalid" >
				<div  class="error-left">remark is required....</div>
			</div>
			
		</div>
		
		<div>
			<label>Followup Date</label>
			<ion-item class="form-field">
				<ion-datetime display-format="MMM DD, YYYY HH:mm" name="followUpDate" #followUpDate="ngModel" [ngClass]="{'is-invalid' : d.submitted && followUpDate.invalid}" [(ngModel)]="data.followUpDate" [min]="TodayDate" required></ion-datetime>
			</ion-item>
			<div *ngIf="d.submitted && followUpDate.invalid" >
				<div  class="error-left">Follow-Up Date is required....</div>
			</div>
		</div>
		
		<div>
			<label>Next Followup Type</label>
			<ion-item class="form-field">
				<ion-select name="followUpType" #followUpType="ngModel" [(ngModel)]="data.followUpType" [ngClass]="{'is-invalid' : d.submitted && followUpType.invalid}" required>
					<ion-option value="1">Call</ion-option>
					<ion-option value="2">Meeting</ion-option>
					<ion-option value="3">E-mail</ion-option>
				</ion-select>
			</ion-item>
			<div *ngIf="d.submitted && followUpType.invalid" >
				<div  class=" error-left">Follow-Up Type is required....</div>
			</div>
		</div>

	
	<div class="cs-btn border-none mt0 right-btn">
		<button ion-button color="secondary" round >SAVE</button>
	</div>
</div>
</form>
</ion-content>

<ion-footer padding>
		<div class="cs-btn border-none mt0 right-btn">
				<button class="wp100" ion-button color="secondary" round >SAVE</button>
			</div>
</ion-footer>
