<ion-list class="border-none mb0">
	<!-- <ion-item *ngFor="let item of items" (click)="itemclick()" class="f14">
		{{item.item}}
	</ion-item> -->
	<!-- <ion-item (click)="creatActivity()" class="f14">
			Creat Activity
	</ion-item> -->
	<!-- <ion-item (click)="seeImageAndDocument()" class="f14">
			Image & Documents
	</ion-item>
	<ion-item (click)="distOrderList()" class="f14">
			Orders
	</ion-item>
	<ion-item (click)="distPopAndGiftsList()" class="f14">
			POP & Gift
	</ion-item>
	<ion-item (click)="distPaymentsList()" class="f14">
			Paymaster
	</ion-item> -->
	<ion-item (click)="distActivitiesList()" class="f14">
			Call Logs / DVR
	</ion-item>
	<!-- <ion-item (click)="itemclick()" style="color: #FF0000;" class="f14">
		Delete
	</ion-item> -->
</ion-list>
