<ion-header class="catalogue-header bg-af-none">
  <ion-navbar>
    <ion-title>DVR List </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  
  <div class="filter-search">
    <ion-searchbar placeholder="Search" #input [(ngModel)]="data.search" (input)="onSearchChangeHanlder()" (ionChange)="onClearSearchHandler()"></ion-searchbar>
  </div>
  
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles">
    </ion-refresher-content>
  </ion-refresher>
  
  
  
  
  <div class="action-btn-2">
    <!-- <div class="head-count pb15">
      Total 
      <span class="top-counter">{{dvrList.length}}</span>
    </div> -->
    <div class="top-tab">
      <div class="cs-button"  [ngClass]="currentvalue == 1 ? 'active' : ''" (click)="dvr_list(1, '');scrollToTop()"  >  
        <p>My DVR <span class="counter">{{MyDvrLength}}</span></p>
      </div>
      <div class="cs-button"  [ngClass]="currentvalue == 2 ? 'active' : ''" (click)="dvr_list(2, '');scrollToTop()"  >
        <p>Team's DVR <span class="counter">{{TeamDvrLength}}</span></p>
      </div>
    </div>
  </div>
  
  <div class="nothing-here" *ngIf="div==true">
    <div class="outer">
      <div class="innear">
        <img src="assets/imgs/nothing.svg" alt="">
        <p>Nothing is here</p>
      </div>
    </div>
  </div>
  
  <div class="list padding16" *ngIf="dvrList.length!=0">
      <!-- {{i%2==0 ? 'close' : 'open'}} -->

      <!--  -->
    <div *ngFor="let list of dvrList; let i=index; "   class="box " (click)="goToDvrdetail(list.activityId)">
      <div class="heading">
        <div class="dflex" style="align-items: flex-start;">
          <!-- {{leadList?.length ? '('+leadList?.length + ')' : ''}} -->
          <div class="wp100">
            <p *ngIf="userId!=list.createBy" class="black-clr">{{list.userName |titlecase}}   </p>
            <p  *ngIf="list.establishment!='' && userId==list.createBy"  class="black-clr">{{list.establishment |titlecase  }}</p>
            <p  *ngIf="list.establishmentName!='' && userId==list.createBy" class="black-clr" >{{list.establishmentName |titlecase }}</p>
            <p  *ngIf="list.leadEstablishment!='' && userId==list.createBy"  class="black-clr">{{list.leadEstablishment |titlecase }}</p>
            <p  *ngIf="list.otherCustomer!='' && userId==list.createBy"  class="black-clr">{{list.otherCustomer |titlecase}}</p>
            <p  *ngIf="userId==list.createBy" class="f11 grey-clr fw700">{{list.activityModuleName ? ''+list.activityModuleName+'' : ''}}</p>
          </div>
        </div>
        <div class="date"> {{list.checkInTime | date :'dd MMM yyyy' }}</div>
      </div>
      <div class="description">
        <div class="content-flex" *ngIf="userId!=list.createBy">
          <a  *ngIf="list.establishment!=''" class="cust-name">{{list.establishment |titlecase}}</a>
          <a  *ngIf="list.establishmentName!=''" class="cust-name">{{list.establishmentName |titlecase}}</a>
          <a  *ngIf="list.leadEstablishment!=''" class="cust-name">{{list.leadEstablishment |titlecase}}</a>
          <a  *ngIf="list.otherCustomer!=''" class="cust-name">{{list.otherCustomer |titlecase}}</a>
          <span class="compny-type">{{list.activityModuleName ? '('+list.activityModuleName+')' : ''}}</span>
        </div>
        
        <div class="cs-time">
          <ul>
            <li>
              <p>Start :   </p>
              <p>{{list.checkInTime|date :'h:mm:ss a'}}  </p>
            </li>
            <li>
              <p>End : </p>
              <p>{{list.checkOutTime|date :'h:mm:ss a'}}</p>
            </li>
          </ul>
          <ul class="auto">
            <li>
              <p>Time : </p>
              <p>{{list.checkinDuration}}</p>
            </li>
          </ul>
        </div>
        
        <p class="dark-clr clamp-twoline"><strong>Location</strong> : {{list.location |titlecase}}</p>
      </div>
      <div class="right-arrow"><ion-icon name="ios-arrow-forward-outline"></ion-icon></div>
    </div>
  </div>
  
    
  <div class="h50"></div>
  
 

  <ion-fab class="no-radius-btn" right bottom  (click)="scrollToTop()">
    <button ion-fab color="vibrant" *ngIf="show"><i class="material-icons">expand_less</i></button>
</ion-fab>

<ion-infinite-scroll (ionInfinite)="dvr_list(currentvalue, $event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>



</ion-content>

