page-dist-order-list {

    .box
    {
        padding-top: 1px !important; 
        .heading
        {
            padding-bottom: 2px !important;
            h1
            {
                line-height: 36px !important;
            }
        }
    }

}
