<ion-header class="catalogue-header">
  <ion-navbar>
    <ion-title>Travel Plan - {{planDateForView}}</ion-title>
    <ion-buttons end class="login-btn" (click)="dismiss()">
      <button ion-button>
        <img class="w17" src="assets/icons/cross.svg">
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  
  <!-- Without travel Plan id Start -->

    <div>

        <form [formGroup]="basicForm" (ngSubmit)="onAddToListHandler()">

          <ion-item>

            <ion-label>Select State</ion-label>

            <ionic-selectable 
                item-content
                [items]="stateList"
                itemValueField="name"
                itemTextField="name"
                [canSearch]="true"
                [isMultiple]="isMultipleSelection"
                name="state"
                formControlName="state" 
                [(ngModel)]="data.state"
                (onChange)="getDistrictList(2)">

          </ionic-selectable>

        </ion-item>

        <p *ngIf="basicForm.get('state').hasError('required') && basicForm.get('state').touched" class="error-left relative">State required!</p>
        
        <ion-item>
          <ion-label>Select District</ion-label>
          <ionic-selectable 
              item-content
              [items]="districtList"
              itemValueField="districtName"
              itemTextField="districtName"
              [canSearch]="true"
              [isMultiple]="isMultipleSelection"
              name="district"
              formControlName="district" 
              [(ngModel)]="data.district"
              (onChange)="getCityList(2)">
          </ionic-selectable>
      </ion-item>

      <p *ngIf="basicForm.get('district').hasError('required') && basicForm.get('district').touched" class="error-left relative">District required!</p>

      <ion-item>
        <ion-label>Select City</ion-label>
        <ionic-selectable 
          item-content
          [items]="cityList"
          itemValueField="city"
          itemTextField="city"
          [canSearch]="true"
          [isMultiple]="isMultipleSelection"
          name="city"
          formControlName="city" 
          [(ngModel)]="data.city">

      </ionic-selectable>
      </ion-item>

      <p *ngIf="basicForm.get('city').hasError('required') && basicForm.get('city').touched" class="error-left relative">City required!</p>


      <div *ngIf="!isMultipleSelection" class="activity">
                
          <p>Do you want any sales activity ?</p>

          <ion-list radio-group class="radio-flex" [(ngModel)]="data.isSalesActivity" formControlName="isSalesActivity" name="isSalesActivity">

              <ion-item class="select-radio no-bg">
                  <ion-radio (click)="onSaleActivityChangeHandler('NULL')" value="Yes" ></ion-radio>
                  <ion-label>Yes</ion-label>
              </ion-item>

              <ion-item class="select-radio no-bg">
                  <ion-radio (click)="onSaleActivityChangeHandler('NULL')"  value="No"></ion-radio>
                  <ion-label>No</ion-label>
              </ion-item>

          </ion-list>

          <ion-item class="mt5" [hidden]="data.isSalesActivity=='No'">

            <ion-label>Select</ion-label>
            
            <ion-select name="activityType" placeholder="Select" formControlName="activityType" [(ngModel)]="data.activityType">

                <ion-option *ngFor="let activityRow of salesActivityArr" [value]="activityRow.typeId">{{activityRow.name}}</ion-option>

            </ion-select>
          </ion-item>

          <p *ngIf="basicForm.get('activityType').hasError('required') && basicForm.get('activityType').touched" class="error-left relative">Activity Type required!</p>
  

          <ion-item class="border-none" [hidden]="data.isSalesActivity=='No'">
             <ion-label floating class="grey-clr">Budget</ion-label>
             <ion-input  type="number" placeholder="Budget" formControlName="salesBudget" [(ngModel)]="data.salesBudget"></ion-input>
          </ion-item>

          <p *ngIf="basicForm.get('salesBudget').hasError('required') && basicForm.get('salesBudget').touched" class="error-left relative">Budget required!</p>
    
          <p *ngIf="basicForm.get('salesBudget').hasError('minlength') && basicForm.get('salesBudget').touched"  class="error-left relative">Budget must be atleast 3 Digits!</p>

      </div>


      <div *ngIf="isMultipleSelection" class="cs-btn border-none">
          <button ion-button class="font12" color="secondary"><i class="material-icons">add</i></button>
      </div>

    </form>

      <div class="sales-seltion-field m0">
        <div class="mt16" *ngFor="let row of planArray ; let index=index">
          <div class="list">
            <div class="box" >
              <a class="del-btn" (click)="removePlan(i,index,row.travelrowId)"><i class="material-icons" >delete_sweep</i></a>

              <div class="cs-list">
                <div class="list-data flat-item">
                  <div class="figure top-child padding0">
                    <ul>
                      <li class="wp100">
                        <p>{{row.state}}</p>
                      </li>
                      <li>
                        <p>{{row.district}}</p>
                      </li>
                      <li>
                        <p>{{row.city}}</p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <div *ngIf="isMultipleSelection" class="activity">
                
                  <p>Do you want any sales activity ?</p>

                  <ion-list radio-group class="radio-flex" #isSalesActivity="ngModel" [(ngModel)]="row.isSalesActivity" name="isSalesActivity{{index}}">

                      <ion-item class="select-radio no-bg">
                          <ion-radio (click)="onSaleActivityChangeHandler(index)" value="Yes" ></ion-radio>
                          <ion-label>Yes</ion-label>
                      </ion-item>

                      <ion-item class="select-radio no-bg">
                          <ion-radio (click)="onSaleActivityChangeHandler(index)" value="No"></ion-radio>
                          <ion-label>No</ion-label>
                      </ion-item>

                  </ion-list>

                  <ion-item class="mt5" *ngIf="row.isSalesActivity=='Yes'">

                    <ion-label>Select</ion-label>
                    
                    <ion-select name="activityType" placeholder="Select" name="activityType" [(ngModel)]="row.activityType">

                        <ion-option *ngFor="let activityRow of salesActivityArr" [value]="activityRow.typeId">{{activityRow.name}}</ion-option>

                    </ion-select>
                  </ion-item>

                  <div *ngIf="row.isSalesActivity=='Yes' && !row.activityType">
                    <p class="error-left">Sales Activity Type Required!</p>
                  </div>

                  <ion-item class="border-none" *ngIf="row.isSalesActivity=='Yes'">
                     <ion-label floating class="grey-clr">Budget</ion-label>
                     <ion-input  type="number" placeholder="Budget" name="salesBudget{{index}}" [(ngModel)]="row.salesBudget"></ion-input>
                  </ion-item>

                  <div *ngIf="row.isSalesActivity=='Yes' && (!row.salesBudget || row.salesBudget=='0')">
                     <p class="error-left">Budget Required!</p>
                  </div>

              </div>

            </div>
          </div>
        </div>
        
        <div class="cs-btn border-none text-center" >
          <button ion-button color="secondary" (click)="onConfirmSaveHandler()" [disabled]="planArray.length==0 && isMultipleSelection">Save To {{travelStatusType ? travelStatusType : 'Plan'}}</button>
        </div>
        
      </div>

   </div>
    
  <!-- Without travel Plan id End -->
  
  <!-- With Travel Plan Id Start -->

  <!-- <form *ngIf="single=='single'" (ngSubmit)="update_travel()" #f="ngForm" novalidate>
    
        <div class="sales-seltion-field m0" >
          <ion-item class="mt0">
            <ion-label>Select State single</ion-label>
            <ionic-selectable item-content
            [items]="stateList"
            itemValueField="name"
            itemTextField="name"
            [isMultiple]="false"
            [canSearch]="true"
            name="state single"
            [(ngModel)]="data.state"
            (onChange)="getDistrictList(2)"
            >
          </ionic-selectable>
        </ion-item>
        <div *ngIf="stateData1==true">
          <p class="error-left">State is required....</p>
        </div>
        
        <ion-item>
          <ion-label>Select District</ion-label>
          <ionic-selectable item-content
          [items]="tmpDistrictArray"
          itemValueField="districtName"
          itemTextField="districtName"
          [isMultiple]="false"
          [canSearch]="true"
          name="districtName"
          [(ngModel)]="data.districtName"
          (onChange)="getCityList(2)"
          >
        </ionic-selectable>
      </ion-item>
      <div *ngIf="districtData1==true">
        <p class="error-left">District is required....</p>
      </div>
      
      <ion-item>
        <ion-label>Select City</ion-label>
        <ionic-selectable item-content
        [items]="cityList"
        itemValueField="city"
        itemTextField="city"
        [isMultiple]="false"
        [canSearch]="true"
        name="city"
        [(ngModel)]="data.city"
        >
      </ionic-selectable>
    </ion-item>
    <div *ngIf="cityData1==true">
      <p class="error-left">City is required....</p>
    </div>

    <div class="list">
      <div class="activity mt16">
        <p>Do you want any sales activity ?</p>
        <ion-list radio-group class="radio-flex"  name="isSalesActivity" #isSalesActivity="ngModel" [(ngModel)]="data.isSalesActivity" #isSalesActivity="ngModel">
          <ion-item class="select-radio no-bg">
            <ion-radio value="Yes" name="isSalesActivity"></ion-radio>
            <ion-label>Yes</ion-label>
          </ion-item>
          
          <ion-item class="select-radio no-bg">
            <ion-radio value="No" name="isSalesActivity" ></ion-radio>
            <ion-label>No</ion-label>
          </ion-item>
        </ion-list>
        
        <ion-item class="mt5"  *ngIf="data.isSalesActivity == 'Yes' " >
          <ion-label>Select</ion-label>
          <ion-select name="activityType"  [(ngModel)]="data.activityType">
            <ion-option disabled="">Select</ion-option>
            <ion-option value="1">Mechanic get together</ion-option>
            <ion-option value="2">Retailer get together</ion-option>
            <ion-option value="3">van Campaign</ion-option>
            <ion-option value="4">Stall Campaign</ion-option>
            <ion-option value="5">Exhibition Participation</ion-option>
            <ion-option value="6">Signboard</ion-option>
            <ion-option value="7">Wall/Shop Painting</ion-option>
            <ion-option value="8">GiveAways</ion-option>
            <ion-option value="9">Printing Of Lesafelts,banners, posters etc.</ion-option>
          </ion-select>
        </ion-item>
        <div *ngIf="data.error2==1">
          <p class="error-left">Select At Least One..</p>
        </div>
        
        <ion-item class="border-none"  *ngIf="data.isSalesActivity == 'Yes' ">
          <ion-label floating class="grey-clr">Budget</ion-label>
          <ion-input  name="salesBudget" [(ngModel)]="data.salesBudget"></ion-input>
        </ion-item>
        <div *ngIf="data.error==1">
          <p class="error-left">Amount is required....</p>
        </div>
      </div>
    </div>
    </div>

    <div class="sales-seltion-field m0" style="display: none;">
      <div class="sticky-content">
        <div class="cs-btn border-none right mt16">
          <button ion-button color="secondary" >Add To List</button>
        </div>
      </div>
    </div>
    <div class="cs-btn border-none right wp100">
      <button ion-button color="secondary" class="wp100">Save</button>
    </div>
</form> -->

  
  <!-- With Travel Plan Id End -->


</ion-content>
<ion-footer padding >
</ion-footer>

