page-add-cart-product {

    .center-icon
    {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: #ff0000;
    }

    .nrml-detail
    {
            
        table
        {
            table-layout: fixed;
            width: 100%;
            
            tr
            {
                td
                {
                    // padding: 7px 10px;
                    font-size: 13px;
                    // border-right: solid 1px $border-clr;
                    border-bottom: solid 1px $border-clr;
                }

                th
                {
                    padding: 10px 0px;
                    font-size: 13px;
                    @extend.semibold;
                    // border-right: solid 1px $border-clr;
                    border-bottom: solid 1px $border-clr;
                    text-align: right;
                }
            }
        }
    }

    .full-width-btn
    {
        width: 100%;

    }

    .half-width
    {
        width: 50%;
    }

    .cs-display
    {
        display: flex;
        align-items: center;
        justify-content: center; 

        &.space-around
        {
            justify-content: space-around;
        }
        &.space-between
        {
            justify-content: space-between;
        }
    }

}
