<!--
  Generated template for the DvrAddPage page.
  
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header class="catalogue-header">
  <ion-navbar>
    <ion-title>Add DVR</ion-title>
  </ion-navbar>
</ion-header>
<!-- <form> -->
  <ion-content class="after-none">
    <div class="lead-steps">
      <div class="step" [ngClass]="{'process':isCheckDateProcess==true}">
        <div class="outer">
          <div class="innear">
            <img class="default-img" src="assets/icons/step-1.svg" alt="">
            <img class="active-img" src="assets/icons/step-1-active.svg" alt="">
            <p>STEP 1</p>
            <img class="process-img" src="assets/icons/process-ic.svg" alt="">
            <img class="done-img" src="assets/icons/done-ic.svg" alt="">
          </div>
        </div>
      </div>
      <div class="step"  [ngClass]="{'process':isDealerInfoProcess==true}">
        <div class="outer">
          <div class="innear">
            <img class="default-img" src="assets/icons/step-2.svg" alt="">
            <img class="active-img" src="assets/icons/step-2-active.svg" alt="">
            <p>STEP 2</p>
            <img class="process-img" src="assets/icons/process-ic.svg" alt="">
            <img class="done-img" src="assets/icons/done-ic.svg" alt="">
          </div>
        </div>
      </div>
      <div class="step" [ngClass]="{'process':isCheckInfoProcess==true}">
        <div class="outer">
          <div class="innear">
            <img class="default-img" src="assets/icons/step-3.svg" alt="">
            <img class="active-img" src="assets/icons/step-3-active.svg" alt="">
            <p>STEP 3</p>
            <img class="process-img" src="assets/icons/process-ic.svg" alt="">
            <img class="done-img" src="assets/icons/done-ic.svg" alt="">
          </div>
        </div>
      </div>
    </div>
    <!-- Basic Information Start -->
    <form *ngIf="isCheckDate" #f="ngForm" (ngSubmit)="f.form.valid && Next1()" novalidate>
      <div class="step-2 ul-clear padding16">
        <div class="main-heading mt16"><h2>Checkin Date And Time</h2></div>
        <div class="cs-form ">
          <div>
            <label>Check In Date<span>*</span></label>
            <ion-item class="form-field">
              <ion-datetime displayFormat="MM/DD/YYYY" pickerFormat="MM/DD/YYYY"  #activityDate="ngModel" id="activityDate" name="activityDate" [(ngModel)]="dvrData.activityDate" [max]="today" [ngClass]="{ 'is-invalid': f.submitted && activityDate.invalid }" required></ion-datetime>
            </ion-item>
            <div *ngIf="f.submitted && activityDate?.invalid || activityDate?.touched && activityDate?.invalid">
              <p class="error-left">DVR Date is required....</p>
            </div>
          </div>
          <div>
            <label>Check In Time</label>
            <ion-item class="form-field">
              <ion-datetime displayFormat="HH:mm A" pickerFormat="h mm A" name="activityInTime" #activityInTime="ngModel"  (ionChange)="check1(dvrData.activityInTime)" [(ngModel)]="dvrData.activityInTime" [ngClass]="{ 'is-invalid': (f.submitted && activityInTime.invalid) && (datenotvalid==true)}" readonly required></ion-datetime>
            </ion-item>
            
            <div *ngIf="f.submitted && activityInTime?.invalid || activityInTime?.touched && activityInTime?.invalid">
              <p class="error-left"> Check In Time is required....</p>
            </div>
            <div *ngIf="datenotvalid==true">
              <p class="error-left" *ngIf="datenotvalid==true">Check-In time must be between 06:00 AM to 10:00 PM</p>
            </div>
          </div>
          
          <div>
            <label>Check Out Time</label>
            <ion-item class="form-field">
              <ion-datetime displayFormat="HH:mm A" pickerFormat="h mm A" name="activityOutTime" #activityOutTime="ngModel" (ionChange)="check2(dvrData.activityOutTime)" [(ngModel)]="dvrData.activityOutTime" [ngClass]="{ 'is-invalid': (f.submitted && activityOutTime.invalid)  && (dateoutnotvalid==true)}" readonly required ></ion-datetime>
            </ion-item>
            <div *ngIf="f.submitted && activityOutTime?.invalid || activityOutTime?.touched && activityOutTime?.invalid">
              <p class="error-left"> Check Out Time is required....</p>
            </div>
            <div *ngIf="dateoutnotvalid==true" class="invalid-feedback">
              <p class="error-left" *ngIf="dvrData.activityOutTime < timecheckoutfirst || timecheckoutlast < dvrData.activityOutTime">Check-Out time must be between 07:00 AM to 11:00 PM</p>
            </div>
            <div *ngIf="datenottvalid==true" class="invalid-feedback">
              <p class="error-left">Check-Out time should be greater then Check-In time....</p>
            </div>
          </div>
          <div>
            <label>Location *</label>
            <ion-item class="form-field">
              <ion-textarea  name="location" #location="ngModel"  id="location"  [(ngModel)]="dvrData.location" [ngClass]="{ 'is-invalid': f.submitted && location.invalid }" required></ion-textarea>
            </ion-item>
            <div *ngIf="f.submitted && location?.invalid || location?.touched && location?.invalid">
              <p class="error-left"> location is required....</p>
            </div>
          </div>
        </div>
        <div class="cs-btn border-none  mt0 right-btn">
          <button ion-button color="secondary" round>NEXT <i class="material-icons pl30">trending_flat</i></button>
        </div>
      </div>
    </form>	
    <!-- Basic Information End -->
    <!-- Address Information Start -->
    <form *ngIf="isDealerInfo" #f1="ngForm" (ngSubmit)="f1.form.valid && Next2()" novalidate>
      <div class="step-3 ul-clear padding16">
        <div class="main-heading mt16"><h2>Delaler Information</h2></div>
        <div class="cs-form">
          <div>
            <label>Select Network Type</label>
            <ion-item class="form-field">
              <ion-select name="role" [(ngModel)]="dvrData.role" #role="ngModel" (ionChange)="getnetworklist(dvrData.role)" [ngClass]="{ 'is-invalid': f1.submitted && role.invalid }" required>
                <ion-option disabled="">Select</ion-option>
                <ion-option  *ngFor="let role of roleList;let i=index" value="{{role.roleId}}">{{role.roleName}}</ion-option>
                <ion-option  value="0">Other</ion-option>
              </ion-select>
            </ion-item>
            <div *ngIf="f1.submitted && role.invalid" >
              <p class="error-left" *ngIf="role.errors.required">Network Type  is required</p>
            </div>
          </div>
          
          <div *ngIf="dvrData.role==0">
            <label>Name </label>
            <ion-item class="form-field" >
              <ion-input  name="otherCustomer" #otherCustomer="ngModel" [(ngModel)]="dvrData.otherCustomer"
              [ngClass]="{ 'is-invalid': f1.submitted && otherCustomer.invalid }"></ion-input>
            </ion-item>
            <div *ngIf="f1.submitted && otherCustomer.invalid"  >
              <p class="error-left" *ngIf="otherCustomer.errors.required">Name is required</p>
            </div>
          </div>
          
          <!-- <ion-item *ngIf="dvrData.activityModule==1 && dvrData.role!=0">
            <ion-label>Select Company</ion-label>
            <ion-select name="network" #network="ngModel" [(ngModel)]="dvrData.network" (ionChange)="getAllSegment()" [(ngModel)]="dvrData.network" [ngClass]="{ 'is-invalid': f1.submitted && network.invalid }" required>
              <ion-option disabled="">Select</ion-option>
              <ion-option *ngFor="let network of distributionList;let i=index" value="{{network.networkId}}">{{network.establishment}}</ion-option>
            </ion-select>
          </ion-item> -->
          
          <div *ngIf="dvrData.activityModule==1 && dvrData.role!=0" >
            <label>Select Company</label>
            <ion-item class="form-field">
              <ionic-selectable 
              item-content
              [items]="distributionList"
              itemValueField="networkId"
              itemTextField="establishment"
              [canSearch]="true"
              [isMultiple]="false"
              name="network"
              [(ngModel)]="dvrData.network"
              (onChange)="getAllSegment()"
              >
            </ionic-selectable>
          </ion-item>
        </div>
        
        <!-- <ion-item *ngIf="dvrData.activityModule!=1 && dvrData.role!=0">
          <ion-label>Select Company</ion-label>
          <ion-select name="network" #network="ngModel" [(ngModel)]="dvrData.network" (ionChange)="getAllSegment()" [(ngModel)]="dvrData.network" [ngClass]="{ 'is-invalid': f1.submitted && network.invalid }" required>
            <ion-option disabled="">Select</ion-option>
            <ion-option *ngFor="let network of distributionList;let i=index" value="{{network.leadId}}">{{network.establishment}}</ion-option>
          </ion-select>
        </ion-item> -->
        
        <div *ngIf="dvrData.activityModule!=1 && dvrData.role!=0">
          <label>Select Company</label>
          <ion-item  class="form-field">
            <ionic-selectable 
            item-content
            [items]="distributionList"
            itemValueField="leadId"
            itemTextField="establishment"
            [canSearch]="true"
            [isMultiple]="false"
            name="network"
            [(ngModel)]="dvrData.network"
            (onChange)="getAllSegment()"
            >
          </ionic-selectable>
        </ion-item>
        <div *ngIf="f1.submitted && network.invalid" >
          <p  class="error-left" *ngIf="network.errors.required">Company Name  is required</p>
        </div>
      </div>
      
      
      
      <div *ngIf="dvrData.network && dvrData.network.networkId==0 && dvrData.role!=0" >
        <div>
          <label>Name </label>
          <ion-item class="form-field">
            <ion-input  name="otherCustomer" #otherCustomer="ngModel" [(ngModel)]="dvrData.otherCustomer"
            [ngClass]="{ 'is-invalid': f1.submitted && otherCustomer.invalid }"></ion-input>
          </ion-item>
          <div *ngIf="f1.submitted && otherCustomer.invalid"  >
            <p class="error-left" *ngIf="otherCustomer.errors.required">Name is required</p>
          </div>
        </div>
        
        <div>
          <label>Mobile </label>
          <ion-item class="form-field">
            <ion-input name="mobile" #mobile="ngModel" (keypress)="MobileNumber($event)"  minlength="10" maxlength="10" [(ngModel)]="dvrData.mobile" [ngClass]="{ 'is-invalid': f1.submitted && mobile.invalid }" required></ion-input>
          </ion-item>
          <div *ngIf="f1.submitted && mobile.invalid" >
            <p class="error-left" *ngIf="mobile.errors.required">Mobile is required</p>
          </div>
        </div>
        <div>
          <label>Select Segment</label>
          <ion-item class="form-field">
            <ion-select multiple="true" name="segment"  #segment="ngModel" [(ngModel)]="dvrData.segment"  [ngClass]="{ 'is-invalid': f1.submitted && segment.invalid }" required>
              <ion-option disabled="">Select</ion-option>
              <ion-option *ngFor="let segment of segmentlist;let i=index" value="{{segment.text}}">{{segment.text}}</ion-option>
            </ion-select>
          </ion-item>
          <div *ngIf="f1.submitted && segment.invalid" class="invalid-feedback">
            <p class="error-left" *ngIf="segment.errors.required">Segment is required</p>
          </div>
        </div>
      </div>
    </div>
    <div class="cs-btn border-none  right-btn">
      <button type="button" color="dark" round style="left: 0px;	padding: 0 8px;" (click)="back2()"><i class="material-icons">keyboard_backspace</i></button>
      <button ion-button color="secondary" round >NEXT <i class="material-icons pl30">trending_flat</i></button>
    </div>
  </div>
  
</form>
<!-- Address Information End -->

<!-- Contact Person Information Start -->
<form *ngIf="isCheckInfo" #f2="ngForm" (ngSubmit)="f2.form.valid && onSubmit()" novalidate>
  <div class="step-4 ul-clear padding16" *ngIf="isCheckInfo">
    <div class="main-heading mt16"><h2>Check In Information</h2></div>
    
    <div class="cs-form">
      <div>
        <label>Objective Of Visit</label>
        <ion-item class="form-field">
          <ion-select name="objectivesOfVisit" #objectivesOfVisit="ngModel" [(ngModel)]="dvrData.objectivesOfVisit" [ngClass]="{ 'is-invalid': f2.submitted && objectivesOfVisit.invalid }" required>
            <ion-option disabled="">Select</ion-option>
            <ion-option value="1">Routine Visit</ion-option>
            <ion-option value="2">Order</ion-option>
            <ion-option value="3">Payment</ion-option>
            <ion-option value="4">Order + Payment</ion-option>
            <ion-option value="5">Concern Handling</ion-option>
            <ion-option value="6">Other</ion-option> 
          </ion-select>
        </ion-item>
        <div *ngIf="f2.submitted && objectivesOfVisit.invalid" >
          <p class="error-left" *ngIf="objectivesOfVisit.errors.required">objectivesOfVisit is required</p>
        </div>
      </div>
      <div>
        <label>Next Follow Type</label>
        <ion-item class="form-field">
          <ion-select name="nextFollowUpType" #nextFollowUpType="ngModel" id="nextFollowUpType" [(ngModel)]="dvrData.nextFollowUpType">
            <ion-option disabled="">Select</ion-option>
            <ion-option value="1">Call</ion-option>
            <ion-option value="2">Meeting</ion-option>
            <ion-option value="3">Email</ion-option>
            <ion-option value="4">Task</ion-option>
            <ion-option value="5">Other</ion-option>
          </ion-select>
        </ion-item>
      </div>
      
      <div *ngIf="dvrData.nextFollowUpType!=5 && dvrData.nextFollowUpType!=4">
        <label>Next Followup Date</label>
        <ion-item class="form-field">
          <ion-datetime displayFormat="MM/DD/YYYY" [min]="today" pickerFormat="MM/DD/YYYY" name="nextFollowUpDate" #nextFollowUpDate="ngModel"  [(ngModel)]="dvrData.nextFollowUpDate" readonly ></ion-datetime>
        </ion-item>
      </div>
      
      
      <div *ngIf="dvrData.objectivesOfVisit!=6">
        <label>Remark</label>
        <ion-item class="form-field" >
          <ion-label floating class="grey-clr">Remark</ion-label>
          <ion-textarea  name="remark" #remark="ngModel"  [(ngModel)]="dvrData.remark" [ngClass]="{ 'is-invalid': f2.submitted && remark.invalid }" required></ion-textarea>
        </ion-item>
        <div *ngIf="f2.submitted && remark?.invalid || remark?.touched && remark?.invalid">
          <p class="error-left"> Remark is required....</p>
        </div>
      </div>
      
      
      <div *ngIf="dvrData.objectivesOfVisit==6">
        <label>Other Remark</label>
        <ion-item class="form-field">
          <ion-textarea  name="otherremark" #otherremark="ngModel"  [(ngModel)]="dvrData.otherremark" [ngClass]="{ 'is-invalid': f2.submitted && otherremark.invalid }" required></ion-textarea>
        </ion-item>
      </div>
    </div>
    
   <!-- Contact Person Information End -->
  <div class="cs-btn border-none  mt0 right-btn" >
      <button type="button" color="dark" round style="left: 0px;	padding: 0 8px;" (click)="back3()"><i class="material-icons">keyboard_backspace</i></button>
    <button ion-button color="secondary" round  *ngIf="isCheckInfo">SAVE</button>
  </div>
  </div>
  
</form>

</ion-content>
<!-- </form> -->

<ion-header>
  
  