<ion-header class="white-header">
	<ion-navbar>
		<ion-title>
			ENQUIRY
		</ion-title>
		<!-- <ion-buttons end class="login-btn">
			<button ion-button>
				<img src="assets/icons/logout-ic-active.svg" alt="">
			</button>
		</ion-buttons> -->
	</ion-navbar>
</ion-header>

<ion-content>
	
	<div class="massage pb0">
		<p>Please fill In this form below, we will get back to you soon as poosible</p>
	</div>
	<form  #f1="ngForm" (ngSubmit)="f1.form.valid && putEnquiry()" novalidate>
		<div class="input-filds">
			<ion-list>
				<div class="form-input">
					<ion-item class="mr8">
						<ion-label floating>First Name</ion-label>
						<ion-input type="text" name="firstName" #firstName="ngModel" [(ngModel)]="formDetails.firstName"
						[ngClass]="{ 'is-invalid': f1.submitted && firstName.invalid }" required></ion-input>
					</ion-item>
					<div *ngIf="f1.submitted && firstName.invalid"  >
						<p class="error-left" *ngIf="firstName.errors.required">First Name is required</p>
					</div>
				</div>
				
				
				<div class="form-input">
					<ion-item>
						<ion-label floating>Last Name</ion-label>
						<ion-input type="text"  name="lastName" #lastName="ngModel" [(ngModel)]="formDetails.lastName" [ngClass]="{ 'is-invalid': f1.submitted && firstName.invalid }" required></ion-input>
					</ion-item>
					<div *ngIf="f1.submitted && lastName.invalid"  >
						<p class="error-left" *ngIf="lastName.errors.required">First Name is required</p>
					</div>
				</div>
				
				<div class="form-input">
					<ion-item>
						<ion-label floating>Email ID</ion-label>
						<ion-input type="Email" #emailId="ngModel" name="emailId" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" [(ngModel)]="formDetails.emailId" required ></ion-input>
					</ion-item>
					<div *ngIf="f1.submitted && emailId.invalid && emailId.touched" >
						<p class="error-left">Email is Invalid</p>
					</div>
					<div *ngIf="f1.submitted && emailId.invalid && !emailId.touched" >
						<p class="error-left" *ngIf="emailId.errors.required">Email is required</p>
					</div>
				</div>
				
				
				<div class="form-input">
					<ion-item>
						<ion-label floating>Mobile No.</ion-label>
						<ion-input type="tel"  name="mobileNo" #mobileNo="ngModel" (keypress)="MobileNumber($event)"  minlength="10" maxlength="10" [(ngModel)]="formDetails.mobileNo" [ngClass]="{ 'is-invalid': f1.submitted && mobileNo.invalid }" required></ion-input>
					</ion-item>
					
					<div *ngIf="f1.submitted && mobileNo.invalid" >
						<p class="error-left" *ngIf="mobileNo.errors.required">Mobile is required</p>
						<p class="error-left" *ngIf="mobileNo.errors.minlength || mobileNo.errors.maxlength">Mobile Must be 10 Digit</p>
					</div>
				</div>
				
				
				<div class="form-input">
					<ion-item>
						<ion-label floating>Enquiry Message</ion-label>
						<ion-textarea class="h100" name="text"   #enquiryMessage="ngModel" [(ngModel)]="formDetails.enquiryMessage"
						[ngClass]="{ 'is-invalid': f1.submitted && enquiryMessage.invalid }" required></ion-textarea>
					</ion-item>
					<div *ngIf="f1.submitted && enquiryMessage.invalid" class="invalid-feedback">
						<p class="error-left" *ngIf="enquiryMessage.errors.required">Enquiry Message is required</p>
					</div>
				</div>
			</ion-list>
		</div>
		
		<div class="cs-btn p32 pt0">
			<button class="white-bg" ion-button outline block color="secondary">ENQUIRY</button>
		</div>
	</form>
</ion-content>
