page-about {
    .content
    {
        font-size: 14px;
        @extend.regular;
        line-height: 32px;
    }
    
    .description-with-image
    {
        img
        {
            width: 150px;
            height: 110px;
            float: right;
            margin-left: 20px;
        }
    }
    
    .designer
    {
        padding: 50px 0px 20px 0px;
        @include transform(skew(0deg, -10deg));
        margin-top: 40px !important;  
        margin-bottom: 40px !important;  
        margin: -16px;
        background: linear-gradient(132deg, #FB7291, #EF164A);
        .text
        {
            @include transform(skew(0deg, 10deg));
            position: relative;
            padding: 16px;
            top: 0px;
            left: 0px;
            right: 0px;
            height: 100%;
            width: 100%;
            z-index: -9;
            h2
            {
                font-size: 22px;
                @extend.semibold;
            }
            
        }
    }
    
    .cs-dote-content
    {
        ul
        {
            padding-left: 16px !important;
            li
            {
                position: relative;
                white-space: pre-line;
                &:after
                {
                    content: "";
                    width: 13px;
                    height: 13px;
                    border-radius: 50px;
                    border: 2px solid $theme;
                    background: #ffffff;
                    position: absolute;
                    left: -18px;
                    top: 13px;
                }
                &:before
                {
                    position: absolute;
                    content: "";
                    height: 100%;
                    border-left: 1px solid $border-clr;
                    top: 18px;
                    left: -12px;
                }

                &:last-child:before
                {
                    display: none;
                }
            }
        }
    }

    .ab-image
    {
        @extend.ul-clear;

        img
        {
            width: 150px;
            height: 110px;
            float: right;
            margin-left: 20px;  
            margin-top: 10px;   
        }
    }

}
