<ion-header class="catalogue-header bg-af-none">
	<ion-navbar>
		<ion-title>
			<div class="flex-tittle">
				<p>Announcement </p>
				<!-- <span class="count">{{announcementList.length}}</span> -->
			</div>
		</ion-title>
		<ion-buttons end class="login-btn">
			<button ion-button>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content>
	<div class="filter-search">
		<ion-searchbar placeholder="Search" #input [(ngModel)]="data.search" (input)="onSearchChangeHanlder()" (change)="onClearSearchHandler()"></ion-searchbar>
	</div>
	<!-- <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
		<ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles">
		</ion-refresher-content>
	</ion-refresher>
-->
<div class="">
	<div class="list pl16 pr16" >
		<div class="box mt16"  *ngFor="let list of announcementList">
			<div class="heading" >
				<!-- {{a.documents[0].fileName}} -->
				<button class="download-btn" type="button" name="download" (click)="viewpdf(fileNameData)">
					<i class="material-icons">cloud_download</i>  
				</button>
				<div class="call-d dflex" style="color: #be0531; font-weight: 600;">{{list.subject}}</div>
				
				<h1 class="dark-clr line-height">{{list.createdOn|date :'dd MMM yyyy'}}</h1>
			</div>
			<div class="description">
				<div class="content-flex">
					<p class="ellipsis-text"><strong>Message</strong> : {{list.message |titlecase}}</p>
					<a class="readonly" (click)="ReadMore(list.announcementId,list.message)">Read More</a>
				</div>
				<div class="content-flex" *ngIf="list.sendEmail == true">
					<p class="ellipsis-text" ><strong>Send By</strong> : Email</p>
				</div>
				<div class="content-flex" *ngIf="list.sendSMS == true">
					<p class="ellipsis-text" ><strong>Send By</strong> : SMS</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="h50"></div>


<ion-fab class="no-radius-btn" right bottom  (click)="scrollToTop()">
		<button ion-fab color="vibrant" *ngIf="show"><i class="material-icons">expand_less</i></button>
	</ion-fab>

<ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="variableForScroll == false" >
		<ion-infinite-scroll-content></ion-infinite-scroll-content>
	  </ion-infinite-scroll>




</ion-content>
