<ion-content>
	
	<div class="cs-login-header ">
		<button ion-button (click)='backToPrevious()'><i class="material-icons back-ic">keyboard_backspace</i></button>
		<div class="outer">
			<div class="innear">
				<div class="login-content">
						<img src="assets/imgs/login-logo.svg">
						<h2>Welcome</h2>
						<p>Login to continue . . .</p>
				</div>
			</div>
		</div>
	</div>
	

	<div padding>
		
		<!-- <p class="info">Enter your mobile number, we will send you OTP to verify later</p> -->
		
		<div class="radius-input">
			
			<form #f="ngForm" (ngSubmit)="f.valid && otpverification()" autocomplete="off" >
				<ion-list>
					<div>
						<ion-item>
							<ion-label><img src="assets/icons/email.svg" alt=""></ion-label>
							<ion-input type="Email" name="userName" #userName="ngModel" [(ngModel)]="data.userName" placeholder="Email" [ngClass]="{'is-invalid':f.submitted && userName?.invalid}" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required></ion-input>
						</ion-item>
						<div *ngIf="f.submitted && userName?.invalid || userName?.touched && userName?.invalid">
							<p class="error-left" *ngIf="!userName.touched">Email is Required!</p>

							<p class="error-left" *ngIf="userName.touched">Email is Invalid.</p>
						</div>
						<!-- <div *ngIf="userName?.touched && userName?.invalid" > 
							<p class="error-left" *ngIf="userName.errors.required">User Name is required....</p>
						</div> -->
					</div>
					<div class="mt32">
						<ion-item>
							<ion-label><img src="assets/icons/key.svg" alt=""></ion-label>
							<ion-input type="password" name="password" #password="ngModel" [(ngModel)]="data.password"  placeholder="Password" [ngClass]="{'has-error' : password.invalid } " required></ion-input>
						</ion-item>
						<div *ngIf="f.submitted && password?.invalid || password?.touched && password?.invalid">
							<p class="error-left">Password is required....</p>
						</div>
						<!-- <div *ngIf="password?.touched && password?.invalid" > 
							<p class="error-left" *ngIf="password.errors.required">Password is required....</p>
						</div> -->
					</div>
				</ion-list>
				<div class="cs-btn border-none mt32"> <button color="primary" round ion-button >CONFIRM <i class="material-icons pl30">trending_flat</i></button> </div>
			</form>
		</div>
		
	</div>
	
</ion-content>
