page-add-to-cart {

    .center-icon
    {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: #ff0000;
    }

    .nrml-detail
    {
            
        table
        {
            table-layout: fixed;
            width: 100%;
            
            tr
            {
                td
                {
                    // padding: 7px 10px;
                    font-size: 13px;
                    // border-right: solid 1px $border-clr;
                    border-bottom: solid 1px $border-clr;
                }

                th
                {
                    padding: 10px 0px;
                    font-size: 13px;
                    @extend.semibold;
                    // border-right: solid 1px $border-clr;
                    border-bottom: solid 1px $border-clr;
                    text-align: right;
                }
            }
        }
    }

    .full-width-btn
    {
        width: 100%;

    }
    .half-width
    {
        width: 50%;
    }

    ul
    {
        li
        {
            .collapsible-header
            {
                position: relative;

                &:after
                {
                    content: "";
                    background: url(../assets/imgs/add.svg) no-repeat;
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 30px;
                    height: 30px;
                    display: inherit;
                }

                &:before
                {
                    content: "";
                    background: url(../assets/imgs/minus.svg) no-repeat;
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 30px;
                    height: 30px;
                    display: none;
                }
            }

            &.active
            {
                .collapsible-header
                {
                    &:after
                    {
                        display: none;
                    }

                    &:before
                    {
                        display: inherit;
                    }
                } 
            }

        }
    }

    .btn-radius
    {
        border-radius: 64px;
    }

    .cs-display
    {
        display: flex;
        align-items: center;
        justify-content: center; 

        &.space-around
        {
            justify-content: space-around;
        }
        &.space-between
        {
            justify-content: space-between;
        }
    }

}
