<ion-header class="catalogue-header">
	<ion-navbar>
		<ion-title>Detail</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>
	
	<div class="list">
		<div class="box light-red-bg relative" style="margin-bottom: 0px !important;">
			<div class="heading border-none">
				<div class="dist-name dflex">
					<div class="first-leter w50" style="background: #FF7474">K</div>
					<div class="name-number">
						<p class="f16">{{leadDetail.establishment | titlecase }} </p>
						<div class="text-with-ic dflex">
							<i class="material-icons text-relat-icon black-clr">call</i>
							<p> <a class="f14" href="tel:{{leadDetail.mobile}}" >{{leadDetail.mobile}}</a></p>
						</div>
						
						<div class="text-with-ic dflex">
							<i class="material-icons text-relat-icon black-clr">email</i>
							<a class="f14 underline mt8" [href]="'mailto:'+ leadDetail.email + '?Subject=My%20Custom%20Subject'">{{leadDetail.email}}</a>
						</div>
					</div>
				</div>
			</div>
			<div class="detail">
				<div class="cs-table-list">
					<table>
						<tr *ngIf="leadDetail.landline">
							<td class="w70">Landline</td>
							<td class="w10 text-center">:</td>
							<td>{{leadDetail.landline}}</td>
						</tr>
						<tr>
							<td class="w70">Source</td>
							<td class="w20 text-center">:</td>
							<td>{{leadDetail.sourceName | titlecase }}</td>
						</tr>
						<tr>
							<td class="bold">GST No.</td>
							<td class="text-center">:</td>
							<td>{{leadDetail.gst}}</td>
						</tr>
						<tr>
							<td class="bold">Lead Type</td>
							<td  class="text-center">:</td>
							<td *ngIf="leadDetail.leadType == 11">Wholesaler</td>
							<td *ngIf="leadDetail.leadType == 12">Distributer</td>
							<td *ngIf="leadDetail.leadType == 13">Retailer</td>
							<td *ngIf="leadDetail.leadType == 14">Machnical</td>
							<td *ngIf="leadDetail.leadType == 15">Reconditioner</td>
						</tr>
						<tr>
							<td>Address</td>
							<td  class="text-center">:</td>
							<td>{{leadDetail.address | titlecase }}</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
	
	<div class="padding16">
		<div class="figure-outer">
			<div class="heading-text m0"><p>contact person</p></div>
			<div class="cs-list flat">
				<div class="list-data">
					<div class="figure top-child">
						<ul>
							<li class="wp100">
								<span>Name</span>
								<p>{{leadContact?.name | titlecase }}</p>
							</li>
							<li>
								<span>Mobile No. 1</span>
								<p><a class="f14" href="tel:{{leadContact?.mobile1}} " >{{leadContact?.mobile1}} </a> </p>
							</li>
							<li >
								<span>Mobile No. 2</span>
								<p><a class="f14" href="tel:{{leadContact?.mobile2}} " >{{leadContact?.mobile2}} </a></p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div> 
		<div class="figure-outer">
			<div class="heading-text m0"><p>Segment Information</p></div>
			<div>
				<div class="cs-list flat">
					<div class="list-data">
						<div class="figure">
							<ul>
								<li class="wp100">
									<span>Segment Name</span>
									<p *ngFor="let segment of segmentName">{{segment.segment}},</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
				
			</div>
		</div> 
	</div>
	
</ion-content>
