<!--
  Generated template for the DetailConcernPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Detail Concern</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>


  
<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles">
    </ion-refresher-content>
  </ion-refresher>

  


  <div class="list">
		<div class="box light-red-bg relative">
			<div class="heading border-none">
				<div class="dist-name dflex">
					<div class="first-leter w50" style="background: #FF7474"> H</div>
					<div class="name-number">
						<p class="f18 black-clr">{{ categorydetail.createdByName}}</p>
						<div class="text-with-ic dflex">
							<!-- <p>Distributor</p> -->
						</div>
					</div>
				</div>
			</div>
			
	
			<div class="detail">
				<div class="cs-table-list">
					<table>
						<tr>
							<td class="w120 bold">Concern Date</td>
							<td class="w10">:</td>
							<td>{{categorydetail. createdOn | date: ' dd MMM yyyy'}}</td>
						</tr>
						<tr>
							<td class="bold">Created by</td>
              <td>:</td>
              
							<td>{{categorydetail.networkEstablishment}}</td>
            </tr>
            <tr>
							<td class="bold">Concern Type</td>
							<td>:</td>
							<td>{{categorydetail.concernTypeName}}</td>
            </tr>
            <tr>
							<td class="bold">Status</td>
							<td>:</td>
							<td>{{categorydetail.concernStatusName}}</td>
            </tr>
            <tr>
							<td class="bold">Claim No.</td>
							<td>:</td>
							<td>{{categorydetail.claimNo}}</td>
            </tr>
            <tr>
							<td class="bold">Total Qty</td>
							<td>:</td>
							<td>20</td>
            </tr>
            <tr>
							<td class="bold">Product Type</td>
							<td>:</td>
              <td>{{categorydetail.productConcernTypeName}}</td>
            </tr>
            <!-- <tr>
							<td class="bold">Total Amount</td>
							<td>:</td>
							<td>&#8377; 2400</td>
						</tr> -->
					</table>
				</div>
			</div>
		</div>
  </div>
  
  <div class="table-list mt32">
		<div class="cs-heading">
			<p class="subject">PRODUCT INFORMATION</p>
		</div>
		<div class="table-head">
			<table>
				<tr>
					<th>Category</th>
          <!-- <th class="w60 text-center">Items</th> -->
          
          
				</tr>
			</table>
		</div>
		<div class="table-body">
			<table>
				<tr *ngFor="let a of categoryArr">
					<td ><a (click)="goToCategoryModel(a.category)">{{a.category}}</a></td>
          <!-- <td class="w60 text-center">1</td> -->
        
        
       
      </tr>
		</table>
	</div>
</div>
</ion-content>












<!-- shushant coding -->




<!-- <ion-content padding>

  
<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles">
    </ion-refresher-content>
  </ion-refresher>


  <h2>  Detail Info </h2>

  <div >
    <p> claimNo {{categorydetail.claimNo}}</p> <br>
    <p> STATUS {{categorydetail.concernStatusName}}</p> <br>
    <p>  name{{categorydetail.createdByName}}</p> <br>
    <p> date {{categorydetail. createdOn | date: ' dd MMM yyyy'}}</p> <br>
    <p>networkEstablishment  {{categorydetail. networkEstablishment}}</p> <br>
    <p>productConcernTypeName  {{categorydetail.productConcernTypeName}}</p> <br>
  </div>

<h2>
    product info  
</h2>
  <!-- <div *ngFor="let a of productInfo">
<button type ="button" (click)="goToCategoryModel(a.category)">
  {{a.category}}
</button>
    </div> -->

    <!-- <div *ngFor="let a of categoryArr ">
<button type ="button" (click)="goToCategoryModel(a.category)">
{{a.category}}
</button>
    </div>

</ion-content> --> -->
<!-- =======================================================SHUSHANT CODING ================= -->