<ion-header class="catalogue-header">
  <ion-navbar >
    <ion-title>Followup Detail</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div class="figure-outer mb16">
    <div class="heading-text m0"><p *ngIf="activityDetail.leadEstablishement!=''">{{activityDetail.leadEstablishement |titlecase}}</p>
      <p *ngIf="activityDetail.networkEstablishement!=''">{{activityDetail.networkEstablishement |titlecase}}</div>
        <div class="cs-list flat">
          <div class="list-data">
            <div class="figure">
              <ul>
                <li>
                  <span>Module Name</span>
                  <p>{{activityDetail.activityModuleName |titlecase}}</p>
                </li>
                <li>
                  <span>FollowUp Type</span>
                  <p>{{activityDetail.followUpTypeName |titlecase}}</p>
                </li>
                <li>
                  <span>Date Created</span>
                  <p>{{activityDetail.createdOn | date:'d MMM y'}}</p>
                </li>
                <li class="open">
                  <span>Status</span>
                  <p *ngIf="activityDetail.isClosed==false">Open</p>
                  <p *ngIf="activityDetail.isClosed==true">Closed</p>
                </li>
                <li class="wp100">
                  <span>Remark</span>
                  <p class="normal-text">{{activityDetail.remarks |titlecase}}</p>
                </li>
              </ul>
            </div>
          </div>
          <div class="cs-btn border-none right">
            <button ion-button waves-light color="secondary" round (click)="closeFollowUp()">Close Follow-Up</button>
            <button *ngIf="activityDetail.followUpType=='2'" ion-button waves-light color="secondary" round (click)="createActivity(activityDetail.followUpId)">Create Check-In</button>
          </div>
        </div>
      </div> 
      <form  name= "form" (submit) =" p.valid && saveData()" #p="ngForm" action="" *ngIf=" value == true">
        <div class="heading-text mb0">
          <p class="mb0">Close Task</p>
        </div>
        <div class="cs-form">
          <div>
            <label>Next FollowUp Type</label>
            <ion-item class="form-field">
              <ion-select  name="followUpType" #followUpType="ngModel" [ngClass]="{'is-invalid' : p.submitted && followUpType.invalid}" [(ngModel)]="activitydata.followUpType" required>
                <ion-option value="1">Call</ion-option>
                <ion-option value="2">Metting</ion-option>
                <ion-option value="3">Email</ion-option>
              </ion-select>
            </ion-item>
            <div *ngIf="p.submitted && followUpType.invalid" >
              <div  class="error-left">followUp Type is required....</div>
            </div>
          </div>
          <div>
            <label>Next FollowUp Date</label>
            <ion-item class="form-field">
              <ion-datetime display-format="MMM DD, YYYY HH:mm" name="followUpDate" #followUpDate="ngModel" [ngClass]="{'is-invalid' : p.submitted && followUpDate.invalid}" [(ngModel)]="activitydata.followUpDate" [min]="TodayDate" required></ion-datetime>
            </ion-item>
            <div *ngIf="p.submitted && followUpDate.invalid" >
              <div  class="error-left">followUp Date is required....</div>
            </div>
          </div>
          <div>
            <label>Remark</label>
            <ion-item class="form-field">
              <ion-textarea name="remarks" rows="3" cols="3" type="text" [ngClass]="{'is-invalid' : p.submitted && remarks.invalid}" #remarks="ngModel" [(ngModel)]="activitydata.remarks" required></ion-textarea>
            </ion-item>
            <div *ngIf="p.submitted && remarks.invalid" >
              <div  class="error-left">remark is required....</div>
            </div>
          </div>
        </div>
        
        <div class="cs-btn border-none  right-btn mt16">
          <button type="submit" name="submit" ion-button waves-light color="secondary">Save</button>
        </div>
      </form>
      <div class="h50"></div>
    </ion-content>
    