<!--
  Generated template for the LeaveListPage page.
  
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>
  
  <ion-navbar>
    <ion-title>leave-list</ion-title>
  </ion-navbar>
  
</ion-header>


<ion-content padding>
  A: juior wnat too approve
  B : Self Eant To Approve
  
  <button (click)="activeTab=1;LeaveListPage(status,1)" value= "1">MY LEAVES</button>
  
  <button (click)="activeTab=2;LeaveListPage(status,2)" value= "2">My Junior Leaves</button>
  
  
  
  
  
  <p>
    <a [ngClass]="{'active' : approvalStatus == 0}" (click)="LeaveListPage(0, activeTab)" >
      PENDING
    </a>
  </p>
  
  <p>
    <a [ngClass]="{'active' : approvalStatus == 1}" (click)="LeaveListPage(1,activeTab)" >
      Approve
    </a>
  </p>
  
  <p>
    <a [ngClass]="{'active' : approvalStatus == 2}" (click)="LeaveListPage(2,activeTab)" >
      Reject
    </a>
  </p>
  
  
  <div *ngFor="let a of AllLeaveList" (click)="goToLeaveDetail(a.leaveApplicationId)">
    
    {{a.userName}}
    
    
    
    ||  {{a.mobile}}  ||  {{a.startDate | date}} || {{a.endDate | date}} 
    <p *ngIf="a.approvalStatus == 0">PENDING</p>
    <p *ngIf="a.approvalStatus == 1">Approved</p>
    <p *ngIf="a.approvalStatus == 2">Rehect</p>
    
  </div>
  
  
  
</ion-content> -->


<ion-header class="catalogue-header bg-af-none">
    <ion-navbar>
      <ion-title>Leave</ion-title>
      <ion-buttons end class="login-btn" (click)="presentPopover($event)">
        <button ion-button>
          <img class="w4 h16" src="assets/icons/more-option-ic.svg" alt="">
        </button>
      </ion-buttons>
    </ion-navbar>
    
  </ion-header>
  
  
  <ion-content >
    <div class="filter-search">
      <ion-searchbar placeholder="Search" #input [(ngModel)]="data.search" (input)="onSearchChangeHanlder()" (ionChange)="onClearSearchHandler()"></ion-searchbar>
    </div>
    <!-- <div class="action-btn-2">
      <div class="top-tab">
        <div class="cs-button active"  (click)="activeTab=1;LeaveListPage()"  value= "1" ><p>My Leave <span class="counter">10</span></p></div>
        <div class="cs-button"  (click)="activeTab=2;LeaveListPage()"   value= "2"      ><p>My Junior Leave <span class="counter">5</span></p></div>
      </div>
    </div> -->
  
  
  
    <div class="action-btn-2">
      <!-- <div class="top-tab pb15">
          <div class="cs-button  " [ngClass]="status == false ? 'active' : ''"  (click)="clickEvent()"  (click)="filter=2;lead_list(2)" >  <p>Created By Me1</p></div>
          
          <div class="cs-button "  [ngClass]="status ? 'active' : ''" (click)="clickEvent()"  (click)="filter=1;lead_list() "  ><p>Assigned To Me2</p></div>
      </div> -->
      
      
      <div class="top-tab">
          <div class="cs-button "   [ngClass]=" ActiveTabValue == '1'? 'active' : ''   " (click)="LeaveListPage(0 ,'1'); "><p>Pending <span class="counter">0</span></p></div>
          <div class="cs-button"  [ngClass]=" ActiveTabValue == '2' ?'active' : ''   "   (click)="LeaveListPage(1,'2');"><p>Appproved <span class="counter">0</span></p></div>
          <div class="cs-button"  [ngClass]=" ActiveTabValue == '3' ? 'active' : ''  " (click)="LeaveListPage(2,'3'); "><p>Reject <span class="counter">0</span></p></div>
         
      </div>
  </div>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
    <div class="list pr16 pl16" >
      <div class="box complete"  *ngFor="let a of AllLeaveList" (click)="goToLeaveDetail(a.leaveApplicationId)">
        <div class="heading">
          <div class="call-d dflex" *ngIf= "myAndJuniorLeaveStatus  == 2">{{a.userName}} </div>
          <!-- <h1 class="dark-clr line-height">No oF Days 25</h1> -->
        </div>
        
        <div class="description">
          <div class="content-flex">
              <p class="type" *ngIf="a.approvalStatus == 0">Pending</p>
            <p class="type" *ngIf="a.approvalStatus == 1">Approved</p>
            <p class="type" *ngIf="a.approvalStatus == 2">Reject</p>
          </div>
        </div>
        
        <div class="figure-outer mb6 mt16">
          <div class="figure-innear dflex white-bg">
            <div class="cs-figure">
              <p>Create Date</p>
              <p>{{a.createdOn | date: '  dd  MMMM  yyyy '  }}</p>
            </div>
            <div class="cs-figure border-left">
              <p>Leave Type</p>
              <p>{{a.leaveTypeName  }}</p>
            </div>
          </div>
          <div class="figure-innear dflex white-bg">
            <div class="cs-figure">
              <p>Date From</p>
              <!-- <p>12 August 2019</p> -->
              <p>{{a.startDate  | date: '  dd  MMMM  yyyy ' }}</p>
            </div>
            <div class="cs-figure border-left">
              <p>Date To</p>
              <p>{{a.endDate  | date: '  dd  MMMM  yyyy ' }}</p>
            </div>
          </div>
        </div> 
      </div>
  
      
      
    </div>
  
  
  
  
  
  
  
  
  
  
  
  
    <ion-fab class="no-radius-btn" right bottom  (click)="scrollToTop()">
      <button ion-fab color="vibrant" *ngIf="show"><i class="material-icons">expand_less</i></button>
    </ion-fab>
  
    <!-- *ngIf="variableForScroll == false"  -->
  
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)"  *ngIf="variableForScroll == false" >
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
  
  
  
  
  
  
  
  
  </ion-content>